<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">

<xi:include href="../layout.html" />
<head>
    <title>Link inválido</title>
</head>

<body>
<header></header>
<section>
    <h1>Link Inválido</h1>
    <p>O link fornecido para confirmação não é válido. Uma das razões pode ser o fim da data de validade. Neste caso, um novo pedido de cadastro deverá ser feito.</p>
    <p><a href="${h.url_for(controller='root', action='index')}">Ir para a página principal</a></p>
</section>
</body>
</html>
