<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">

<head>
    <title>${c.title}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="${h.url('/css/blueprint/screen.css')}" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="${h.url('/css/blueprint/print.css')}" type="text/css" media="print" />
    <!--[if lt IE 8]><link rel="stylesheet" href="${h.url('/css/blueprint/ie.css')}" type="text/css" media="screen, projection" /><![endif]-->

    <link rel="stylesheet" href="${h.url('/css/republicaos.css')}" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="${h.url('/css/buttons.css')}" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="${h.url('/css/avisos.css')}" type="text/css" media="screen, projection" />
    
    <xi:include href="../include/scripts.html" />


</head>

<body>
    <xi:include href="../include/header.html" />
    <xi:include href="../include/form_errors.html" />
    
    <div class="main">
        <div class="container">
            <div class="span-24">
                <h2>${c.title}</h2>

                <p>Você foi convidado por <strong py:content="c.convite.user.nome">anfitrião</strong> para fazer parte da república <strong py:content="c.convite.republica.nome"></strong>. Para ser cadastrado como morador, preencha os campos abaixo e clique no botão "enviar".</p>

                <form action="${c.action}" method="post" class="signup">
                    <table>
                        <tbody>
                            <tr>
                                <th class="label">E-mail</th>
                                <td>${c.convite.email}</td>
                                <td class="help">Endereço da pessoa que será convidada</td>
                            </tr>
                            <tr>
                                <th class="label">Nome</th>
                                <td><input class="text" name="nome" size="30" type="text" py:if="not c.user" />
                                <span class="text" py:if="c.user">${c.user.nome}</span></td>
                                <td class="help"></td>
                            </tr>
                            <tr py:if="not c.user">
                                <th class="label">Senha</th>
                                <td><input class="text" name="senha" size="30" type="password" /></td>
                                <td class="help"></td>
                            </tr>
                            <tr py:if="not c.user">
                                <th class="label">Confirme sua senha</th>
                                <td><input class="text" name="confirmacao_senha" size="30" type="password" /></td>
                                <td class="help"></td>
                            </tr>
                            <tr>
                                <th class="label">Data de entrada na república</th>
                                <td><input class="text" name="entrada" size="10" type="text" /></td>
                                <td class="help"></td>
                            </tr>
                            <tr py:if="not c.user">
                                <th class="header">Concordo com os <a href="/termo_uso">Termos de Uso</a> &nbsp;</th>
                                <td><input name="aceito_termos" type="checkbox" value="1" /></td>
                                <td class="help"></td>
                            </tr>
                        </tbody>
                    </table>

                    <p><input name="commit" type="submit" value="Enviar" /></p>
                </form>

            </div>
        </div>
    </div>

    <xi:include href="../include/footer.html" />
</body>
</html>
