<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">

<xi:include href="../layout.html" />

<head>
    <title>Erro ${c.code}</title>
</head>

<body>
<header>
</header>
<section py:choose="c.code">
    <py:when test="404">
        <h1>Página não encontrada (Erro 404)</h1>
        <article class="sidebar">
            <img src="/images/sorriso.png" />
            <span style="font-size:48px">Ops!</span>
        </article>
        <article>
            <p>Pode ter havido algum problema de digitação ou pode ter sido usado um link desatualizado.</p>
            <p>Tente algum outro endereço ou <span py:if="c.user"><a href="${h.url_for(controller='pessoa', action='painel', id=c.user.id)}">vá para o painel de controle</a></span><span py:if="not c.user"><a href="${h.url_for(controller='root', action='index')}">vá para a página principal</a></span>.</p>
        </article>
    </py:when>
    <py:when test="403">
        <h1>Acesso Negado (Erro 403)</h1>
        <article class="sidebar">
            <img src="/images/stop_icon.png" />
        </article>
        <article>
            <p>Você não tem autorização para acessar essa página. Os motivos possíveis são:</p>
            <ol>
                <li>Você está acessando a página de outra pessoa.</li>
                <li>Você não é morador ou ex-morador da página da república que está tentando acessar.</li>
            </ol>
            <p><span py:if="c.user"><a href="${h.url_for(controller='pessoa', action='painel', id=c.user.id)}">Voltar para o painel de controle</a></span><span py:if="not c.user"><a href="${h.url_for(controller='root', action='index')}">Voltar para a página principal</a></span>.</p>
        </article>
    </py:when>
    <py:otherwise>
        <h1>Erro ${c.code}</h1>
        <p>${c.message}</p>
    </py:otherwise>
</section>
</body>
</html>

