<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<xi:include href="../layout.html" />
<head>
    <title>Fale Conosco</title>
</head>

<body>
<header></header>

<section>
    <h1>Fale Conosco</h1>
    <form name="faleconosco" method="post" action="${h.url(controller='root', action='faleconosco')}">
        <table>
            <tbody>
                <tr>
                    <th class="label">Nome</th>
                    <td py:if="not c.user"><input type="text" name="nome" value="" size="40" /></td>
                    <td py:if="c.user"><input type="hidden" name="nome" value="${c.user.nome}" />${c.user.nome}</td>
                </tr>
                <tr>
                    <th class="label">email</th>
                    <td py:if="not c.user"><input name="email" size="50" type="text" /></td>
                    <td py:if="c.user"><input type="hidden" name="email" size="50" value="${c.user.email}" />${c.user.email}</td>
                </tr>
                <tr py:if="not c.user">
                    <th class="label">${c.captcha}</th>
                    <td>
                        <input type="text" name="captcha" size="10" />
                        <input type="hidden" name="captcha_md5" value="${c.captcha_md5}" />
                    </td>
                </tr>
                <tr>
                    <th class="label">Assunto</th>
                    <td><input name="assunto" type="text" size="60" maxlength="120" /></td>
                </tr>
                <tr>
                    <th class="label">Mensagem</th>
                    <td><textarea name="mensagem" cols="50" rows="10"></textarea></td>
                </tr>
            </tbody>
        </table>

        <p>
            <input type="submit" value="Enviar" /> ou 
            <a href="${h.url(controller='root', action='index')}" class="cancel">Voltar à página inicial</a>
        </p>
    </form>
</section>

</body>
</html>