<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>
    <h1>Fale Conosco</h1>
    <table>
        <tbody>
            <tr>
                <th class="label">Nome</th>
                <td>${c.valid_data['nome']}</td>
            </tr>
            <tr>
                <th class="label">email</th>
                <td>${c.valid_data['email']}</td>
            </tr>
            <tr>
                <th class="label">Assunto</th>
                <td>${c.valid_data['assunto']}</td>
            </tr>
            <tr>
                <th class="label">Mensagem</th>
                <td>${c.valid_data['mensagem']}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
