<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">

<xi:include href="../layout.html" />

<head>
    <title>${c.title}</title>
</head>

<body>
<header></header>
<section>
    <h1>${c.title}</h1>
    <form action="${c.action}" method="post">
        <input py:if="c.method == 'put'" type="hidden" name="_method" value="put" />
        <table>
            <tbody>
                <tr>
                    <th class="label">Nome</th>
                    <td><input type="text" name="nome" maxlength="90" size="50" /></td>
                    <td class="help">Identificação da república.</td>
                </tr>
                <tr>
                    <th class="label">Endereço</th>
                    <td><textarea name="endereco" rows="6" cols="50"></textarea></td>
                    <td class="help" rowspan="4">O endereço não será fornecido a ninguém. Será transformado em coordenadas geográficas para que possamos oferecer publicidade direcionada e assim manter o Republicaos gratuito.</td>
                </tr>
            </tbody>
        </table>
        <div py:if="c.action">
            <p>
            <input type="submit" value="${c.submit}" /> ou 
            <a href="${h.url_for(controller='republica', action='show', republica_id=c.republica.id)}">Cancelar e voltar à página da república</a>.
            </p>
        </div>
    </form>
</section>
</body>

</html>
