<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">

<xi:include href="../layout.html" />

<head>
    <title>${c.title}</title>
</head>

<body>
<header></header>
<section>
    <h1>${c.title}</h1>
    <form action="${c.action}" method="post">
        <input py:if="c.method == 'put'" type="hidden" name="_method" value="put" />
        <table>
            <tbody>
                <tr>
                    <td><label>Nome</label></td>
                    <td><input type="text" name="nome" maxlength="90" size="50" /></td>
                </tr>
                <tr>
                    <td><label>Logradouro</label></td>
                    <td><input type="text" name="logradouro" maxlength="150" size="50" /></td>
                </tr>
                <tr>
                    <td><label>Complemento</label></td>
                    <td><input type="text" name="complemento" maxlength="100" size="50" /></td>
                </tr>
                <tr>
                    <td><label>Cidade</label></td>
                    <td><input type="text" name="cidade" maxlength="80" size="50" /></td>
                </tr>
                <tr>
                    <td><label>Estado</label></td>
                    <td><input type="text" name="uf" maxlength="2" size="2" /></td>
                </tr>

                 <tr>
                    <td></td>
                    <td>
                        <div py:if="c.action">
                            <input type="submit" value="${c.submit}" /> ou 
                            <a href="${h.url_for(controller='pessoa', action='painel', id=user.id)}">Cancelar e voltar ao painel de controle</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</section>
</body>

</html>
