<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">

<xi:include href="../layout.html" />

<?python
from babel.dates import format_date
from republicaos.lib.utils import pretty_decimal
from republicaos.model import DespesaAgendada
from datetime     import date

tipos_despesa     = sorted(c.fechamento.total_tipo_despesa.keys())
num_participantes = len(c.fechamento.participantes) if len(c.fechamento.participantes) else 1
saldo_pos = {'class' : 'number saldo_pos'}
saldo_neg = {'class' : 'number saldo_neg'}
agendamentos = DespesaAgendada.query.filter(DespesaAgendada.republica_id == c.republica.id).all()
?>
<head>
    <title>${c.title}</title>
    <script type="text/javascript" src="${h.url_for('/js/jquery.tablesorter.min.js')}"></script>
    <!--
    <script type="text/javascript" src="${h.url_for('/js/jquery_tablehover/jquery.tablehover.min.js')}"></script>
    -->
    <script type="text/javascript" src="${h.url_for('/js/jquery_tooltip/jquery.tooltip.min.js')}"></script>
    <script type="text/javascript">
        $.tablesorter.addParser({
            id: "numero",
            is: function(s,table) {
                var c = table.config;
                s = s.replace(c.milhar, '');
                s = s.replace(c.decimal, '.');
                return !isNaN(parseFloat(s));
            },
            format: function(s) {
                // deveria usar table.config, mas não consigo acessar dessa função
                s = s.replace('.', '');
                s = s.replace(',', '.');
                return $.tablesorter.formatFloat(s);
            },
            type: "numeric"
        });
        
        function switchStylesheet(styleName){
            $('link[@rel*=style][title]').each(
                function(i)
                    {
                    // linha adicionada para forçar a mudança de estado. Alguns browsers não fazem refresh se
                    // não tiver mudado de estado.
                    this.disabled = true;
                    this.disabled = this.getAttribute('title') != styleName;
                    }
            );
            if (styleName == 'print') {
                window.print();
            }
        }


        $(document).ready(function(){
            // veja: http://tablesorter.com/docs/
            $(".tablesorter").tablesorter({
                dateFormat:'uk',
                milhar:'.',
                decimal:',',
                sortList: [[0,0]],
                //sortList: [[0,0], [1,0]],
                widgets: ['zebra']
            });
            $(".rateio tr:even").addClass("zebra");
            
            /*
            // veja http://p.sohei.org/jquery-plugins/tablehover/
            $('#acerto_contas').tableHover(
                {
                rowClass: 'hover_row',
                colClass: 'hover_col',
                headCols: true,
                footCols: true,
                ignoreCols: [1]
                }
            );
            */
            
            // destacar grupos para explicar relatório
            $("[class*='destacar_']").bind("mouseenter mouseleave", function() {
                // primeira classe 'destacar_' que aparece
                var classe = '.' + $(this).attr('class').match(/destacar_[\w]+/);
                $(classe).toggleClass('highlight');
            });


            $("img.tip").tooltip({ 
                bodyHandler: function() {
                    name = $(this).attr("name")
                    body = name[0] == '#' ? $(name).html() : name
                    return body; 
                }, 
                showURL: false
            });
            
            $("input[name='agendamento']").click(function(){
                $("#repeticoes").toggle();
            });
            
            // garante que o tipo selecionado é usado no link para edição
            $("#editar_tipo").bind("mouseenter",function(){
               $("#editar_tipo").attr("href", "${h.url_for(controller='tipo_despesa', action='edit', republica_id=c.republica.id, id='')}" + $("select[name='tipo_id']").val())
            })

        });
    </script>
</head>

<body id="republica">
<header>
</header>
<nav id="menu_principal">
    <!--
    <h1 class="titulo">${c.republica.nome}</h1>
    -->
    <ul>
        <li><a href="#" class="active">Fechamento Atual</a></li>
        <li><a href="#">Cadastro</a></li>
        <li><a href="#">Moradores</a></li>
    </ul>
</nav>
<section>
    <aside id="publicidade">
        <article id="lancamento_despesa">
            <header>
            <h1>Lançar Despesa</h1>
            </header>
            <form action="${h.url_for(controller='despesa', action='new', republica_id=c.republica.id)}" method="post">
                <ul id="form_despesa">
                    <li>
                        <label>Responsável</label><br />
                        <select name="pessoa_id" py:with="moradores=c.republica.get_moradores()">
                            <option py:for="pessoa in moradores" value="${pessoa.id}" py:attrs="dict(selected='selected') if c.user.id == pessoa.id else dict()">
                            <span py:replace="pessoa.nome">Nome do Morador</span> &lt;<span py:replace="pessoa.email">email</span>&gt;</option>
                        </select>
                    </li>
                    <li>
                        <label>Tipo da despesa</label> <a href="${h.url_for(controller='tipo_despesa', action='new', republica_id=c.republica.id)}" class="insert" title="Incluir novo tipo de despesa">novo</a><br />
                        <select name="tipo_id">
                            <option py:for="tipo_despesa in c.republica.tipos_despesa" value="${tipo_despesa.id}">
                            <span py:replace="tipo_despesa.nome">nome do tipo da despesa</span>
                            </option>
                        </select>
                        <a href="" id="editar_tipo" class="edit" title="Editar tipo de despesa selcionado">editar</a>
                    </li>
                    <li>
                        <label>Quantia</label><br />
                        <input name="quantia" size="15" type="text" value="Ex: 9.999,99" class="placeholder" /> <img class="screen" src="/images/Info-16x16.png" alt="" title="Ex.: 295,00 ou 1.024,50" />
                    </li>
                    <li>
                        <label>Data</label><br />
                        <input maxlength="10" name="lancamento" size="10" value="${format_date(date.today())}" type="text" />
                    </li>
                    <li>Repetir? <input name="agendamento" type="checkbox" value="mensal" /></li>
                    <li id="repeticoes" style="display:none">Quantas vezes? <input name="repeticoes" maxlength="2" size="1" type="text" /> <img name="#tip_repeticoes" class="tip screen" src="/images/Info-16x16.png" alt=""/></li>
                    <li style="text-align:right"><input type="submit" value="Lançar" /></li>
                </ul>
            </form>
            <div id="tip_repeticoes" class="hidden">
                <ul>
                    <li>Quantos meses <strong>mais</strong> a despesa deve ser repetida</li>
                    <li>Se um número <strong>não</strong> for estipulado, o lançamento será repetido indefinidamente</li>
                </ul>
            </div>
        </article>

        <article py:if="agendamentos">
            <header>
            <h1>Lançamentos Agendados</h1>
            </header>
            <table class="lancamentos_programados">
                <tr py:for="despesa in agendamentos">
                    <td>${format_date(despesa.proximo_lancamento)}</td>
                    <td>${despesa.tipo.nome}</td>
                    <td class="number">${pretty_decimal(despesa.quantia)}</td>
                    <td><a href="${h.url_for(controller='lancamento_programado', action='edit', id=despesa.id, republica_id=c.republica.id)}" class="edit" title="Editar lançamento">editar</a> <a href="${h.url_for(controller='lancamento_programado', action='delete', id=despesa.id, republica_id=c.republica.id)}" class="delete" title="Excluir lançamento">excluir</a></td>
                </tr>
            </table>
        </article>
    </aside>
    <article class="sidebar">
        <article>
            <h3>Cadastro</h3>
            <h4>${c.republica.nome}</h4>
            <p>${c.republica.endereco}<br />
            Latitude: ${c.republica.latitude}°<br />
            Longitude: ${c.republica.longitude}°</p>
            <a href="${h.url_for(controller='republica', action='edit', republica_id=c.republica.id, id=c.republica.id)}">Editar</a>
        </article>
        <article>
            <h3>Fechamentos</h3>
            <a href="${h.url_for(controller='fechamento', action='new', republica_id=c.republica.id)}">Criar fechamento</a>
            <div class="fechamentos">
                <table>
                    <tbody>
                        <tr py:for="fechamento in c.republica.fechamentos">
                            <td><a href="${h.url_for(controller='republica', action='show', republica_id=c.republica.id, data_fechamento=fechamento.data)}">${format_date(fechamento.intervalo[0], "LLLL/yy")}</a></td>
                            <td><a href="${h.url_for(controller='fechamento', action='edit', republica_id=c.republica.id, data=fechamento.data)}">Editar</a> | <a href="${h.url_for(controller='fechamento', action='delete', republica_id=c.republica.id, data=fechamento.data)}">Excluir</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>
        <article>
            <h3>Moradores</h3>
            <a href="${h.url_for(controller='morador', action='new', republica_id=c.republica.id)}">Adicionar</a>
            <table>
                <tr py:for="pessoa in c.republica.get_moradores()">
                    <td>${pessoa}</td>
                </tr>
            </table>
        </article>
    </article>
    
    <article class="principal">
        <header>
        <div py:with="data_inicial, data_final = c.fechamento.intervalo" class="periodo">[${format_date(data_inicial)}, ${format_date(data_final)}] <a href="${h.url_for(controller='fechamento', action='edit', data=c.fechamento.data, republica_id=c.republica.id)}" class="screen edit" title="Editar data do fechamento">Editar</a></div>
        <form action="${h.url_for(controller='republica', action='show', republica_id=c.republica.id)}" method="post">
            <h1>Fechamento de <span class="print">${format_date(c.fechamento.intervalo[0], 'LLLL/yy')}</span>
            <select name="data_fechamento" onchange="javascript:this.form.submit()" class="screen">
                <option py:for="f in c.republica.fechamentos" value="${f.data}" py:attrs="dict(selected='selected') if f == c.fechamento else dict()" >${format_date(f.intervalo[0], 'LLLL/yy')}</option>
            </select>
            </h1>
        </form>
        </header>
        <div class="choose_media screen">
            <a title="Versão para impressão"><img src="/images/printer-icon.gif" onclick="javascript:switchStylesheet('print')" /></a>
        </div>
        <div class="choose_media print">
            <a title="Versão para tela"><img src="/images/monitor.jpg" onclick="javascript:switchStylesheet('screen')" /></a>
        </div>



        <article>
            <h3>Resumo das Despesas</h3>
            <table class="rateio tablesorter">
                <thead>
                    <tr>
                        <th>Tipo da Despesa</th>
                        <th>Total ($)</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Total</th>
                        <th py:content="pretty_decimal(c.fechamento.total_despesas)" class="number destacar_total">999,99</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr py:for="tipo in tipos_despesa">
                        <td py:content="tipo">Tipo da despesa</td>
                        <td py:content="pretty_decimal(c.fechamento.total_tipo_despesa[tipo])" class="number">99,99</td>
                    </tr>
                </tbody>
            </table>
            
            <!-- !
            <br />
            
            <table class="rateio">
                <thead>
                    <tr>
                        <th>Total Despesas<br />($)</th>
                        <th>Nº Moradores</th>
                        <th>Média<br />($)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td py:content="pretty_decimal(c.fechamento.total_despesas)" class="number">99,99</td>
                        <td py:content="len(c.fechamento.participantes)" class="number">9</td>
                        <td py:content="pretty_decimal(c.fechamento.total_despesas/num_participantes)" class="number">999,99</td>
                    </tr>
                </tbody>
            </table>
            -->
        </article>

        <article>
            <h3>Rateio das Despesas <img src="/images/Info-16x16.png" class="tip screen" name="#tip_rateio" /></h3>
            <div id="tip_rateio" class="hidden">
                <ul>
                    <li>A quota é baseada na média ponderada dos dias morados</li>
                    <li><tt>saldo final = quota - despesas</tt></li>
                    <li>Saldo final <span style="color:blue">positivo</span> indica que o morador assumiu despesas <strong>abaixo</strong> da quota</li>
                    <li>Saldo final <span style="color:red">negativo</span> indica que o morador assumiu despesas <strong>acima</strong> da quota</li>
                </ul>
            </div>
            
            <table class="rateio tablesorter">
                <thead>
                    <tr>
                        <th>Morador</th>
                        <th>Dias<br />Morados</th>
                        <th>Quota (%)</th>
                        <th>Quota ($)</th>
                        <th>Despesas ($)</th>
                        <th>Saldo ($)</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Totais</th>
                        <th class="number" py:content="c.fechamento.total_dias_morados"></th>
                        <th class="number" py:content="pretty_decimal(sum(c.fechamento.porcentagem[participante] for participante in c.fechamento.participantes))">99</th>
                        <th class="number destacar_total" py:content="pretty_decimal(sum(c.fechamento.quota[participante] for participante in c.fechamento.participantes))">99,99</th>
                        <th class="number destacar_total" py:content="pretty_decimal(c.fechamento.total_despesas)">999,99</th>
                        <th class="number" py:content="pretty_decimal(sum(c.fechamento.saldo_final[participante] for participante in c.fechamento.participantes))">99,99</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr py:for="participante in c.fechamento.participantes">
                        <td py:content="participante.nome">Fulano de tal</td>
                        <td class="number" py:content="c.fechamento.qtd_dias_morados[participante]">30</td>
                        <td class="number" py:content="pretty_decimal(c.fechamento.porcentagem[participante])">30</td>
                        <td class="number" py:content="pretty_decimal(c.fechamento.quota[participante])">99,99</td>
                        <td class="number" py:content="pretty_decimal(c.fechamento.despesas_por_pessoa[participante])">99,99</td>
                        <td py:content="pretty_decimal(c.fechamento.saldo_final[participante])" py:attrs="saldo_pos if c.fechamento.saldo_final[participante] >= 0 else saldo_neg">999,99</td>
                    </tr>
                </tbody>
            </table>
        </article>

        <article>
            <h3>Acerto de Contas <img src="/images/Info-16x16.png" class="tip screen" name="#tip_acerto" /></h3>
            <div id="tip_acerto" class="hidden">
                <ul>
                    <li>Reconciliação entre quem gastou a mais e a menos do que a quota.</li>
                    <li>As <span style="color:red">linhas</span> indicam quantias a serem pagas</li>
                    <li>As <span style="color:blue">colunas</span> indicam quantias a serem recebidas</li>
                    <li>O cruzamento de <span style="color:red">linha</span> e <span style="color:blue">coluna</span> mostra quanto uma pessoa vai pagar para/receber de outra</li>
                </ul>
            </div>
            <table id="acerto_contas" class="rateio acerto tablesorter">
                <thead>
                    <tr>
                        <th><em>pagar para -></em></th>
                        <th py:for="pessoa in c.fechamento.participantes" py:content="pessoa.nome">Morador</th>
                        <th>Total a Pagar</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Total a Receber</th>
                        <th py:for="pessoa in c.fechamento.participantes" class="number">
                            <span py:if="pessoa in c.fechamento.acerto_a_receber" py:replace="pretty_decimal(sum(c.fechamento.acerto_a_receber[pessoa].values()))">99,99</span>
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr py:for="pessoa in c.fechamento.participantes">
                        <td><strong><span py:replace="pessoa.nome">Fulano de tal</span></strong></td>
                        <td py:for="credor in c.fechamento.participantes" class="number">
                            <span py:if="pessoa in c.fechamento.acerto_a_pagar and credor in c.fechamento.acerto_a_pagar[pessoa]" py:with="quantia=pretty_decimal(c.fechamento.acerto_a_pagar[pessoa][credor])">${quantia} <img src="/images/Info-16x16.png" title="${pessoa.nome} deve ${quantia} para ${credor.nome}" class="screen" /></span>
                        </td>
                        <th class="number"><span py:if="pessoa in c.fechamento.acerto_a_pagar" py:replace="pretty_decimal(sum(c.fechamento.acerto_a_pagar[pessoa].values()))">999,99</span></th>
                    </tr>
                </tbody>
            </table>
        </article>

        <article>
            <h3>Lista de Despesas do Período</h3>
            <table class="rateio tablesorter">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Valor</th>
                        <th>Tipo</th>
                        <th>Responsável</th>
                        <th class="screen" py:if="not c.read_only"></th>
                        <th class="screen" py:if="not c.read_only"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr py:for="despesa in c.fechamento.despesas">
                        <td><span py:replace="format_date(despesa.lancamento)">99/99/9999</span></td>
                        <td class="number"><span py:replace="pretty_decimal(despesa.quantia)">99,99</span></td>
                        <td><span py:replace="despesa.tipo.nome">Tipo da despesa</span></td>
                        <td><span py:replace="despesa.pessoa.nome">Fulano</span></td>
                        <td class="screen" py:if="not c.read_only"><a href="${h.url_for(controller='despesa', action='edit', republica_id=c.republica.id, id=despesa.id)}" class="edit" title="editar">Editar</a></td>
                        <td class="screen" py:if="not c.read_only"><a href="${h.url_for(controller='despesa', action='delete', republica_id=c.republica.id, id=despesa.id)}" class="delete" title="excluir">Excluir</a></td>
                    </tr>
                </tbody>
            </table>
        </article>
    </article>
    <div style="clear:both"></div>

</section>

</body>
</html>
