<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">

<xi:include href="../layout.html" />

<head>
    <title>${c.title}</title>
</head>

<body>
<header>
</header>
<section>
    <h1>${c.title}</h1>
    <form action="${c.action}" method="post">
        <input py:if="c.method == 'put'" type="hidden" name="_method" value="put" />
        <table>
            <tbody>
                <tr>
                    <th class="label">Nome</th>
                    <td><input type="text" name="nome" /></td>
                    <td class="help"></td>
                </tr>
                <tr>
                    <th class="label">Descrição</th>
                    <td><textarea name="descricao" rows="6" cols="50"></textarea></td>
                    <td class="help"></td>
                </tr>
            </tbody>
        </table>
        <div py:if="c.action">
            <p><input type="submit" value="${c.submit}" /> ou 
            <a href="${c.destino}" class="cancel">Voltar à página anterior</a></p>
        </div>
    </form>
</section>
</body>

</html>
