<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">

<xi:include href="../layout.html" />

<head>
    <title>${c.title}</title>
</head>

<body>
<div class="header">
</div>
<div class="content">
    <h1>${c.title}</h1>
    <form action="${c.action}" method="post">
        <input py:if="c.method == 'put'" type="hidden" name="_method" value="put" />
        <table>
            <tbody>
                <tr>
                    <td><label>Nome</label></td>
                    <td><input type="text" name="nome" /></td>
                </tr>
                <tr>
                    <td><label>Descrição</label></td>
                    <td><textarea name="descricao" rows="6" cols="50"></textarea></td>
                </tr>
                 <tr>
                    <td></td>
                    <td>
                        <div py:if="c.action">
                            <input type="submit" value="Ok" />
                            <a href="${c.destino}" class="cancel">Cancelar</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
</body>

</html>
