<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">

<xi:include href="../layout.html" />

<head>
    <title>${c.title}</title>
</head>

<body id="account">
<div class="header">
</div>
<div class="content">
    <h2>${c.title}</h2>

    <p>Preencha os campos abaixo. Após o seu cadastro, um código de ativação será enviado ao e-mail informado. Nenhum dado fornecido por você será distribuído. <strong>Nós respeitamos a sua privacidade!</strong></p>
    <form action="${c.action}" method="post" class="signup">
        <p><label>E-mail</label>
        <input class="text" id="email" name="email" size="80" type="text" /></p>

        <p><label>Nome</label>
        <input class="text" name="nome" size="30" type="text" /></p>

        <p><label>Senha</label>
        <input class="text" name="senha" size="30" type="password" /></p>

        <p><label>Confirme sua senha</label>
        <input class="text" name="confirmacao_senha" size="30" type="password" /></p>

        <p py:if="'Criar' == c.submit">
            <label class="skip">Concordo com os <a href="/termo_uso">Termos de Uso</a> &nbsp;</label>
            <input name="aceito_termos" type="checkbox" value="1" />
            <span class="already-member">Já é cadastrado? <a href="/login">Entre aqui!</a></span>
        </p>

        <p><input name="commit" type="submit" value="${c.submit}" /></p>
    </form>

</div>
</body>
</html>

