<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<xi:include href="../layout.html" />
<head>
    <title>${c.title}</title>
</head>

<?python
from babel.dates import format_date
?>

<body class="painel">
    <header>
    </header>

    <section>
        <h1>${c.title}</h1>
        <article class="perfil">
            <h2>Perfil</h2>
            <div class="foto">
                <img src="/images/sorriso.png" />
            </div>
            <div class="dados-perfil">
                <p>Nome: <strong>${user.nome}</strong></p>
                <p>e-mail: <strong>${user.email}</strong></p>
            </div>
            <div style="clear: both">
                <a href="${h.url_for(controller='pessoa', action='edit', id=user.id)}">Editar perfil</a><br />
            </div>
        </article>
        
        <article class="republicas">
            <h2>Repúblicas de Que Participa</h2>
            <table py:if="c.registros">
                <thead>
                    <tr>
                        <th>República</th>
                        <th>Entrada</th>
                        <th>Desligamento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr py:for="reg in c.registros">
                        <td><a href="${h.url_for(controller='republica', action='show', republica_id=reg.republica.id)}" title="Ir para a página da república">${reg.republica.nome}</a></td>
                        <td>${format_date(reg.entrada)}</td>
                        <td py:choose="">
                            <span py:when="not reg.saida"><a href="${h.url_for(controller='morador', action='sair', republica_id=reg.republica.id)}" title="Desligar-se da república">desligar-se</a></span>
                            <span py:when="reg.republica.fechamento_atual.data_no_intervalo(reg.saida)"><a href="${h.url_for(controller='morador', action='sair', republica_id=reg.republica.id)}" title="Editar data de desligamento">${format_date(reg.saida)}</a> | <a href="${h.url_for(controller='morador', action='cancelar_desligamento', republica_id=reg.republica.id)}" title="Cancelar desligamento">Cancelar</a></span>
                            <span py:otherwise="">${format_date(reg.saida)}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p py:if="not c.registros">Você não participa de nenhuma república no momento.</p>
            <div py:if="c.can_create">
                <p><a href="${h.url_for(controller='republica', action='new')}">Criar nova república</a></p>
            </div>
            <py:if test="c.convites">
                <h3>Recados</h3> 
                <ul>
                    <li py:for="convite in c.convites">Você foi convidado a fazer parte da república <strong>${convite.republica.nome}</strong>. <a href="${h.url_for(controller='convite', action='aceitar', id=convite.id)}">Clique aqui para aceitar o convite</a></li>
                </ul>
            </py:if>
        </article>
        

        <div style="clear: both"></div>
    </section>

</body>
</html>
