<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<xi:include href="../layout.html" />
<?python
title = 'Painel de Controle'
republicas = user.morador_em_republicas
can_create = len(republicas) < 2
?>
<head>
    <title>${title}</title>
</head>

<body class="painel">
    <header>
    </header>

    <section>
        <h1>${title}</h1>
        <article class="perfil">
            <h2>Perfil</h2>
            <div class="foto">
                <img src="/images/sorriso.png" />
            </div>
            <div class="dados-perfil">
                <p>Nome: <strong>${user.nome}</strong></p>
                <p>e-mail: <strong>${user.email}</strong></p>
            </div>
            <div style="clear: both">
                <a href="${h.url_for(controller='pessoa', action='edit', id=user.id)}">Editar perfil</a><br />
            </div>
        </article>
        
        <article class="republicas">
            <h2>Repúblicas de Que Participa</h2>
            <ul py:if="republicas">
                <li py:for="rep in republicas"><a href="${h.url_for(controller='republica', action='show', republica_id=rep.id)}">${rep.nome}</a></li>
            </ul>
            <p py:if="not republicas">Você não participa de nenhuma república no momento.</p>
            <div py:if="can_create">
                <p><a href="${h.url_for(controller='republica', action='new')}">Criar nova república</a></p>
            </div>
            <py:if test="c.convites">
                <h3>Recados</h3> 
                <ul>
                    <li py:for="convite in c.convites">Você foi convidado a fazer parte da república <strong>${convite.republica.nome}</strong>. <a href="${h.url_for(controller='convite', action='aceitar', id=convite.id)}">Clique aqui para aceitar o convite</a></li>
                </ul>
            </py:if>
        </article>
        

        <div style="clear: both"></div>
    </section>

</body>
</html>
