<!--
    <form action="${h.url_for(controller='root', action='login')}" method="post">
    <h2>Acesse sua conta</h2>
    <p><label for="email">E-mail</label><br />
    <input class="text" id="email" name="email" type="text" /></p>
    <p><label for="password">Senha</label><br />
    <input class="text" id="password" name="senha" type="password" /> <a href="/pessoa/esqueceu_senha">Esqueceu sua senha?</a></p>
    <p><input name="commit" type="submit" value="Acessar" /></p>
    </form>
-->
<form id="login-form" name="login" method="post" action="${h.url_for(controller='root', action='login')}">
    <fieldset>
    <legend>Acessar sua conta</legend>
    <div class="input">
        <label for="Email">Nome do usuário (E-mail):</label><br />
        <input id="Email" class="text placeholder" type="text" tabindex="1" name="email" size="20" value="e-mail" />
    </div>
    <div class="input-right">
        <label for="Passwd">
            Senha: (<a title="Esqueceu a sua senha?" href="/pessoa/esqueceu_senha">?</a>)
        </label><br />
        <input id="password" class="text" type="password" name="senha" tabindex="2" size="10" />
    </div>
    <br />
    <div class="input-right">
        <input type="submit" value="Acessar" />
    </div>

    <div style="clear:both">
    </div>
    </fieldset>
</form>
