<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<head>
    <title>Republicaos - Mantendo as contas da república em ordem!</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    
    <link rel="stylesheet" href="${h.url('/css/blueprint/screen.css')}" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="${h.url('/css/blueprint/print.css')}" type="text/css" media="print" />
    <!--[if lt IE 8]><link rel="stylesheet" href="${h.url('/css/blueprint/ie.css')}" type="text/css" media="screen, projection" /><![endif]-->

    <link rel="stylesheet" href="${h.url('/css/republicaos.css')}" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="${h.url('/css/login.css')}" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="${h.url('/css/funcionamento.css')}" type="text/css" media="screen, projection" />

    <script src="${h.url('/jquery/1.4.4/jquery.min.js')}" type="text/javascript"></script>


    <script type="text/javascript"> 
         
        $(document).ready(function() 
            {
            var atual = "0";
            $("button.func").click(
                function ()
                    {
                    if (this.id != atual)
                        {
                        $('#' + atual).removeClass("pressed");
                        $(this).addClass("pressed");
                        prox = this.id;
                        $('#func_' + atual).fadeOut("fast", function(){$('#func_' + prox).fadeIn();});
                        atual = this.id;
                        }
                    }
            );
            $("#1").click();
        });

    </script> 
</head>

<body>
    <xi:include href="../include/header_login.html" />


    <div class="main">
        <div class="container">
            <div class="span-24 funcionamento">
                <br />
                <h1>Funcionamento</h1>
                
                <div class="span-2 navigation">
                    <div class="box">
                        <button id="1" class="func">1</button>
                        <button id="2" class="func">2</button>
                        <button id="3" class="func">3</button>
                        <button id="4" class="func">4</button>
                    </div>
                </div>

                <div class="span-22 last etapas">
                    <div class="box">
                        <ul>

                            <li id="func_1">
                                <div class="span-7">
                                    <h3>1. Informe dos Gastos</h3>
                                    <hr />
                                    <p>Cada pessoa registra seus gastos no Republicaos.</p>
                                </div>
                                <div class="span-14 last center">
                                    <img src="${h.url('/images/funcionamento_1.png')}" />
                                </div>
                            </li>


                            <li id="func_2" style="display:none">
                                <div class="span-7">
                                    <h3>2. Dia de Fechamento</h3>
                                    <hr />
                                    <p>No dia do fechamento, o Republicaos contabiliza os gastos de cada um e faz a divisão das despesas.</p>
                                </div>
                                <div class="span-14 figuras last center">
                                    <img src="${h.url('/images/funcionamento_2.png')}" />
                                </div>
                            </li>


                            <li id="func_3" style="display:none">
                                <div class="span-7">
                                    <h3>3. Acerto de Contas</h3>
                                    <hr />
                                    <p>Quem pagou a menos do que deveria, acerta com quem pagou a mais. O Republicaos já informa exatamente quanto é o acerto e quem deve pagar pra quem.</p>
                                </div>
                                <div class="span-14 last center">
                                    <img src="${h.url('/images/funcionamento_3.png')}" />
                                </div>
                            </li>


                            <li id="func_4" style="display:none">
                                 <div class="span-7">
                                    <h3>4. Acerto de Contas</h3>
                                    <hr />
                                    <p>Quem pagou a menos do que deveria, acerta com quem pagou a mais. O Republicaos já informa exatamente quanto é o acerto e quem deve pagar pra quem.</p>
                                </div>
                                <div class="span-14 last center">
                                    <img src="${h.url('/images/funcionamento_4.png')}" />
                                </div>
                           </li>


                        </ul>
                    </div>

                </div>
            </div>
            

        </div>
    </div>

    <xi:include href="../include/footer.html" />

</body>
</html>
