<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<head>
    <title>Republicaos - Mantendo as contas da república em ordem!</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    
    <link rel="stylesheet" href="${h.url('/css/blueprint/screen.css')}" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="${h.url('/css/blueprint/print.css')}" type="text/css" media="print" />
    <!--[if lt IE 8]><link rel="stylesheet" href="${h.url('/css/blueprint/ie.css')}" type="text/css" media="screen, projection" /><![endif]-->

    <link rel="stylesheet" href="${h.url('/css/republicaos.css')}" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="${h.url('/css/buttons.css')}" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="${h.url('/css/funcionamento.css')}" type="text/css" media="screen, projection" />

    <xi:include href="../include/scripts.html" />


    <script type="text/javascript"> 
         
        $(document).ready(function() 
            {
            var atual = "0";
            $("button.func").click(
                function ()
                    {
                    if (this.id != atual)
                        {
                        $('#' + atual).removeClass("pressed");
                        $(this).addClass("pressed");
                        prox = this.id;
                        $('#func_' + atual).fadeOut("fast", function(){$('#func_' + prox).fadeIn("fast");});
                        atual = this.id;
                        }
                    }
            );
            $("#1").click();
        });

    </script> 
</head>

<body>
    <xi:include href="../include/header.html" />


    <div class="main">
        <div class="container">
            <div class="span-24 funcionamento">
                <h1 class="titulo">Funcionamento</h1>
                
                <div class="span-2 navigation">
                    <div class="box">
                        <button id="1" class="tridimensional func">1</button>
                        <button id="2" class="tridimensional func">2</button>
                        <button id="3" class="tridimensional func">3</button>
                        <button id="4" class="tridimensional func">4</button>
                        <button id="5" class="tridimensional func">5</button>
                    </div>
                </div>

                <div class="span-22 last etapas">
                    <div class="box">
                        <ul>

                            <li id="func_1">
                                <div class="span-7">
                                    <h3>Cada um registra seus gastos</h3>
                                    <hr />
                                    <p>As contas podem ser distribuídas entre os moradores. Cada pessoa fica responsável por uma ou mais contas e registra quanto gastou no Republicaos.</p>
                                    <p>Também é possível que a mesma conta seja dividida por mais de uma pessoa.</p>
                                </div>
                                <div class="span-14 last center">
                                    <img src="${h.url('/images/funcionamento_1.png')}" />
                                </div>
                            </li>


                            <li id="func_2" style="display:none">
                                <div class="span-7">
                                    <h3>Cálculo do Rateio</h3>
                                    <hr />
                                    <p>À medida que vão sendo informadas, o Republicaos totaliza as despesas e já calcula a média de gastos por pessoa.</p>
                                    <p>O cálculo da média considera o número de dias que cada pessoa passou na república. Assim, mesmo que alguém tenha saído ou entrado em uma época diferente dos demais, a divisão continua sendo justa para todos.</p>
                                </div>
                                <div class="span-14 figuras last center">
                                    <img src="${h.url('/images/funcionamento_2.png')}" />
                                </div>
                            </li>


                            <li id="func_3" style="display:none">
                                <div class="span-7">
                                    <h3>Acerto de Contas</h3>
                                    <hr />
                                    <p>Comparando a média com os gastos individuais, é possível determinar quem gastou a mais ou a menos do que deveria.</p>
                                </div>
                                <div class="span-14 last center">
                                    <img src="${h.url('/images/funcionamento_3.png')}" />
                                </div>
                            </li>


                            <li id="func_4" style="display:none">
                                 <div class="span-7">
                                    <h3>Dia do fechamento</h3>
                                    <hr />
                                    <p>No dia do fechamento das contas, quem pagou a menos do que sua quota acerta com quem pagou a mais, zerando as diferenças.</p>
                                    <p>O Republicaos já informa quanto exatamente cada um deve acertar com o outro.</p>
                                </div>
                                <div class="span-14 last center">
                                    <img src="${h.url('/images/funcionamento_4.png')}" />
                                </div>
                           </li>


                           <li id="func_5" style="display:none">
                                 <div class="span-10">
                                    <h3>Veja o Republicaos em ação!</h3>
                                    <hr />
                                    <p>Agora que você já sabe como funciona, o próximo passo é experimentar o Republicaos um pouco. Utilize a conta disponível para demonstração para fazer uns testes!</p>
                                    <br />
                                    <a href="${h.url(controller='root', action='funcionamento')}"><button class="tridimensional"><h3 class="bottom">Demonstração</h3></button></a>
                                </div>
                                <div class="push-1 span-10 last">
                                    <h3>Crie uma conta!</h3>
                                    <hr />
                                    <p>Se você já está convencido a usar o Republicaos, crie uma nova conta e depois convoque os outros moradores!</p>
                                    <br /><br />
                                    <a href="${h.url(controller='root', action='login')}"><button class="tridimensional"><h3 class="bottom">Nova Conta</h3></button></a>
                                </div>
                           </li>


                        </ul>
                    </div>

                </div>
            </div>
            

        </div>
    </div>

    <xi:include href="../include/footer.html" />

</body>
</html>
