<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<head>
    <title>Republicaos - Mantendo as contas da república em ordem!</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="${h.url('/css/blueprint/screen.css')}" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="${h.url('/css/blueprint/print.css')}" type="text/css" media="print" />
    <!--[if lt IE 8]><link rel="stylesheet" href="${h.url('/css/blueprint/ie.css')}" type="text/css" media="screen, projection" /><![endif]-->

    <link rel="stylesheet" href="${h.url('/css/republicaos.css')}" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="${h.url('/css/buttons.css')}" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="${h.url('/css/avisos.css')}" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="${h.url('/css/home.css')}" type="text/css" media="screen, projection" />
    
    <xi:include href="../include/scripts.html"/>
    
    <link rel="stylesheet" href="${h.url('/css/slides.css')}" type="text/css" media="screen, projection" />
    <script src="${h.url('/js/slides.min.jquery.js')}" type="text/javascript"></script>

    <script>
        $(function(){
            $('#slides').slides({
                preload: true,
                play: 7500,
                pause: 2500,
                hoverPause: true,
                generatePagination: true
            });
        });
    </script>

</head>

<body>
    <xi:include href="../include/header.html" />

    <div class="slide_banner">
        <div class="container">
            <div class="span-24">
                <div class="slide_box sombra_curva pagination_spacer">
                    <div id="slides">
                        <div class="slides_container">
                            <div>
                                <div class="span-11">
                                    <h1 class="titulo">Controle financeiro de república de estudantes</h1>
                                    <h2 class="slogan">Mantendo as contas em ordem</h2>
                                    <p style="display:none">É uma ferramenta web para registrar e dividir as contas comuns entre os moradores de uma república de estudantes.</p>
                                    <p style="display:none">A ideia nasceu da necessidade de uma república formada por alunos da Unicamp que queriam acabar com o uso daquela planilha chata que sempre sobrava para uma pessoa manter.</p>

                                </div>
                                <div class="span-12 push-1 last center">
                                    <br />
                                    <img width="470" src="${h.url('/images/screenshot.jpg')}" class="imagem shadow-blur" />
                                </div>
                            </div>
                            

                            <div>
                                <div class="span-7">
                                    <h3>Cada um registra seus gastos</h3>
                                    <hr />
                                    <p>As contas podem ser distribuídas entre os moradores. Cada pessoa fica responsável por uma ou mais contas e registra quanto gastou no Republicaos.</p>
                                </div>
                                <div class="span-14 last center">
                                    <img src="${h.url('/images/funcionamento_1.png')}" />
                                </div>
                            </div>


                            <div>
                                <div class="span-7">
                                    <h3>Cálculo do Rateio</h3>
                                    <hr />
                                    <p>À medida que vão sendo informadas, o Republicaos totaliza as despesas e já calcula a parte de cada morador.</p>
                                    <p>A divisão das contas considera o número de dias que cada pessoa passou na república, produzindo um rateio mais justo para todos!</p>
                                </div>
                                <div class="span-14 figuras last center">
                                    <img src="${h.url('/images/funcionamento_2.png')}" />
                                </div>
                            </div>


                            <div>
                                <div class="span-7">
                                    <h3>Acerto de Contas</h3>
                                    <hr />
                                    <p>Comparando a quota com os gastos individuais, o Republicaos determina quem gastou a mais ou a menos do que deveria.</p>
                                </div>
                                <div class="span-14 last center">
                                    <img src="${h.url('/images/funcionamento_3.png')}" />
                                </div>
                            </div>


                            <div>
                                 <div class="span-7">
                                    <h3>Dia do fechamento</h3>
                                    <hr />
                                    <p>No dia do fechamento das contas, quem pagou a menos do que sua quota acerta com quem pagou a mais, zerando as diferenças.</p>
                                    <p>O Republicaos já informa quanto exatamente cada um deve acertar com o outro.</p>
                                </div>
                                <div class="span-14 last center">
                                    <img src="${h.url('/images/funcionamento_4.png')}" />
                                </div>
                           </div>


                           <div>
                                 <div class="span-10">
                                    <h3>Veja o Republicaos em ação!</h3>
                                    <hr />
                                    <p>Agora que você já sabe como funciona, o próximo passo é experimentar o Republicaos um pouco. Utilize a conta disponível para demonstração para fazer uns testes!</p>
                                    <br />
                                    <a href="${h.url(controller='root', action='funcionamento')}"><button class="tridimensional"><h3 class="bottom">Experimente! Use a Demonstração</h3></button></a>
                                </div>
                                <div class="push-1 span-10 last">
                                    <h3>Crie uma conta!</h3>
                                    <hr />
                                    <p>Se você já está convencido a usar o Republicaos, crie uma nova conta e depois convoque os outros moradores!</p>
                                    <br /><br />
                                    <a href="${h.url(controller='root', action='login')}"><button class="tridimensional"><h3 class="bottom">Nova Conta</h3></button></a>
                                </div>
                           </div>

                        </div>
                    </div>
                </div>
            </div>
            
            

        </div>
    </div>


    <div class="main">
        <div class="container">
            <br />
            <div class="span-10">
                <h2>Por que usar?</h2>

                <img src="${h.url('/images/ticado.png')}" class="icone" />
                <h6>Fácil</h6>
                <p>Nada de planilhas e fórmulas! O Republicaos faz as contas e todo o rateio automaticamente.</p>
                <br />
                
                <img src="${h.url('/images/users.png')}" class="icone" />
                <h6>Todos Participam</h6>
                <p>Cada um registra suas despesas e o Republicaos faz o resto.</p>
                <br />
                
                <img src="${h.url('/images/gratis_64.png')}" class="icone" />
                <h6>Grátis !!!</h6>
                <p>Experimente.</p>
                <br />

            </div>
            <div class="span-13 push-1 last">


                <a href="${h.url(controller='root', action='funcionamento')}">
                    <button class="tridimensional">
                        <h2 class="bottom icone">1</h2>
                        <h6>Experimente! Use a Demonstração</h6>
                        <p class="bottom">Veja o Republicaos em ação!</p>
                    </button>
                </a>



                <a href="${h.url(controller='root', action='funcionamento')}">
                    <button class="tridimensional">
                        <h2 class="bottom icone">2</h2>
                        <h6>Crie uma conta</h6>
                        <p class="bottom">Cadastre sua república e convide os outros moradores</p>
                    </button>
                </a>

            </div>
        </div>
    </div>

    <xi:include href="../include/footer.html" />

</body>
</html>
