<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<head>
    <title>Republicaos - Mantendo as contas da república em ordem!</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="../../public/css/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="../../public/css/css/blueprint/print.css" type="text/css" media="print" />
    <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->

    <link rel="stylesheet" href="../../public/css/republicaos.css" type="text/css" media="screen, projection" />
    
    <link rel="stylesheet" href="${h.url('/css/blueprint/screen.css')}" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="${h.url('/css/blueprint/print.css')}" type="text/css" media="print" />
    <!--[if lt IE 8]><link rel="stylesheet" href="${h.url('/css/blueprint/ie.css')}" type="text/css" media="screen, projection" /><![endif]-->

    <link rel="stylesheet" href="${h.url('/css/republicaos.css')}" type="text/css" media="screen, projection" />
    <script src="${h.url('/jquery/1.4.4/jquery.min.js')}" type="text/javascript"></script>
    <script type = "text/javascript">
        $(document).ready(function()
            {
            var atual = "func0";
            $(".main nav li").mouseenter(
                function ()
                    {
                    if (this.id != atual)
                        {
                        $('#' + atual).removeClass("active");
                        $('#_' + atual).hide();
                        $(this).addClass("active");
                        $('#_' + this.id).show()
                        atual = this.id;
                        }
                    }
            );
            $("#func1").mouseenter();
        });
    </script>
</head>

<body id="home">
    <div class="textura_header">
        <div class="header">
            <div class="container">
                <div class="span-10">
                    <h1 class="logotipo">Republi<span class="caos">caos</span></h1>
                    <h2 class="slogan">mantendo as contas em ordem</h2>
                </div>
                <div class="span-14 last">
                    <nav>
                        <ul>
                            <li><a href="#">Funcionamento</a></li>
                            <li><a href="#">Demonstração</a></li>
                            <li><a href="#">Crie uma conta</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="header2">
            <div class="container">
                <div class="span-12">
                    <hr class="space" />
                    <h1>Divide as contas automaticamente <br />entre os moradores!</h1>
                    <hr />
                    <ul>
                        <li>É <span class="destaque">Grátis</span></li>
                        <li>Todos participam</li>
                        <li>Simples de usar</li>
                    </ul>
                     <hr />
                   <p><a href="#" class="button">É grátis, crie uma conta</a></p>
                </div>
                <div class="span-12 last center">
                    <hr class="space" />
                    <img width="470" src="${h.url('/images/screenshot.jpg')}" class="shadow-blur" />
                </div>
            </div>
        </div>
    </div>


    <div class="main">
        <div class="container">
            <div class="span-24">
                <div class="span-8">
                    <h1>Funcionamento</h1>
                </div>
                <div class="span-16 last">
                    <nav>
                        <ul>
                            <li id="func1" class="active">
                                1
                                <div class="arrow_head_shadow"></div><div class="arrow_head"></div>
                            </li>
                            <li id="func2">
                                <div class="arrow_tail_shadow"></div><div class="arrow_tail"></div>
                                2
                                <div class="arrow_head_shadow"></div><div class="arrow_head"></div>
                            </li>
                            <li id="func3">
                                <div class="arrow_tail_shadow"></div><div class="arrow_tail"></div>
                                3
                                <div class="arrow_head_shadow"></div><div class="arrow_head"></div>
                            </li>
                            <li id="func4">
                                <div class="arrow_tail_shadow"></div><div class="arrow_tail"></div>
                                4
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            
            
            <div class="span-24">
                <div id="_func1" style="display:none">
                    <div class="span-8">
                        <div class="box">
                            <h5>1. Informe dos Gastos</h5>
                            <p>Cada pessoa registra seus gastos no Republicaos.</p>
                        </div>
                    </div>
                    <div class="span-16 center figuras last">
                        <img src="${h.url('/images/funcionamento_1.png')}" />
                    </div>
                </div>

                <div id="_func2" style="display:none">
                    <div class="span-8">
                        <div class="box">
                            <h5>2. Dia de Fechamento</h5>
                            <p>No dia do fechamento, o Republicaos contabiliza os gastos de cada um e faz a divisão das despesas.</p>
                        </div>
                    </div>
                    <div class="span-16 center figuras last">
                        <img src="${h.url('/images/funcionamento_2.png')}" />
                    </div>
                </div>

                <div id="_func3" style="display:none">
                    <div class="span-8">
                        <div class="box">
                            <h5>3. Acerto de Contas</h5>
                            <p>Quem pagou a menos do que deveria, acerta com quem pagou a mais. O Republicaos já informa exatamente quanto é o acerto e quem deve pagar pra quem.</p>
                        </div>
                    </div>
                    <div class="span-16 center figuras last">
                        <img src="${h.url('/images/funcionamento_3.png')}" />
                    </div>
                </div>

                <div id="_func4" style="display:none">
                    <div class="span-8">
                        <div class="box">
                            <h5>4. Acerto de Contas</h5>
                            <p>Quem pagou a menos do que deveria, acerta com quem pagou a mais. O Republicaos já informa exatamente quanto é o acerto e quem deve pagar pra quem.</p>
                        </div>
                    </div>
                    <div class="span-16 center figuras last">
                        <img src="${h.url('/images/funcionamento_4.png')}" />
                    </div>
                </div>

                <div class="span-16 prepend-8 center last">
                    <p><a href="#" class="button">Veja funcionando</a><a href="#" class="button">Crie uma conta</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="span-24">
            footer
            </div>
        </div>
    </div>

</body>
</html>
