<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<xi:include href="../layout.html" />
<head>
    <title>Acesse sua conta</title>
</head>

<body>
<header></header>

<section>
    <p><span class="want-to-signup">Não é cadastrado? <a href="${h.url_for(controller='pessoa', action='new')}">Crie sua conta agora!</a></span></p>
    <!-- ! veja http://groups.google.com/group/genshi/browse_thread/thread/5979759760e24427/# -->

    <xi:include href="form_login.html" />
</section>

</body>
</html>
