<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">

<?python
from os.path import basename
action = basename(request.url)
?>

<head>
    <title>Republicaos - Login | Pedido de Conta | Esqueci a Senha</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="${h.url('/css/blueprint/screen.css')}" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="${h.url('/css/blueprint/print.css')}" type="text/css" media="print" />
    <!--[if lt IE 8]><link rel="stylesheet" href="${h.url('/css/blueprint/ie.css')}" type="text/css" media="screen, projection" /><![endif]-->

    <link rel="stylesheet" href="${h.url('/css/republicaos.css')}" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="${h.url('/css/buttons.css')}" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="${h.url('/css/avisos.css')}" type="text/css" media="screen, projection" />
    
    <xi:include href="../include/scripts.html" />
    
    <script type="text/javascript"> 
        $(document).ready(function() {
            $("#navigation li a").click(function() {
                var selected = $("#navigation li.selected a");
                if (this != selected) {
                    if (selected) {
                        $(selected).parent().removeClass("selected");
                        $($(selected).attr("href")).hide();
                    }
                    
                    $(this).parent().addClass("selected");
                    $($(this).attr("href")).css('display', 'inline-block'); // show();
                }
            });
            
            // Este mesmo arquivo é usado tanto para login quanto para nova conta
            $("[id^='tab_']").hide();
            $("a[name='esqueci_senha']").click(function() {$("#navigation li a[href='#tab_esqueci_senha']").click();});
            <py:choose test="action">
                <py:when test="'pedido_nova_conta'">$("#navigation li a[href='#tab_nova_conta']").click();</py:when>
                <py:when test="'esqueci_senha'">$("#navigation li a[href='#tab_esqueci_senha']").click();</py:when>
                <py:otherwise>$("#navigation li a[href='#tab_login']").click();</py:otherwise>
            </py:choose>
        });
    </script>

</head>

<body>
    <xi:include href="../include/header.html" />
    <xi:include href="../include/form_errors.html" />
    
    <div class="main">
        <div class="container">
            <div class="span-24">
                <xi:include href="../include/flash.html" />
                <br />
                <div id="tabs">
                    <ul id="navigation">
                        <li><a href="#tab_login">Login</a></li>
                        <li><a href="#tab_nova_conta">Nova Conta</a></li>
                        <li><a href="#tab_esqueci_senha">Esqueci a senha</a></li>
                    </ul>
                    
                    <div id="tab_login" class="box shadow">
                        <form name="login_form" method="post" action="${h.url(controller='root', action='login')}">
                            <p>
                                <label for="Email">E-mail <span class="required">*</span></label><br />
                                <input class="text" type="email" name="email" required="required" autofocus="autofocus" />
                            </p>

                            <p>
                                <label for="senha">Senha <span class="required">*</span></label><br />
                                <input class="text" type="password" name="senha" required="required" pattern="[^\s]{4,}" /><br />
                                <span class="small"><a href="#" name="esqueci_senha">Esqueci minha senha!</a></span>
                            </p>

                            <hr />
                            <p class="small"><span class="required">*</span> preenchimento do campo é obrigatório</p>
                            
                            <p class="bottom"><button type="submit" class="launch bottom"><h6>Enviar</h6></button></p>
                        </form>
                    </div>
                    
                    <div id="tab_nova_conta" class="box shadow">
                        <form name="nova_conta_form" method="post" action="${h.url(controller='pessoa', action='pedido_nova_conta')}">
                            <p>Informe seu e-mail e lhe enviaremos uma mensagem com um link para ativação da conta.</p>
                            <p>
                                <label for="Email">E-mail <span class="required">*</span></label><br />
                                <input class="text" type="email" name="email" required="required" autofocus="autofocus" />
                            </p>

                            <p>
                                <label for="captcha">${c.captcha} <span class="required">*</span></label><br />
                                <input class="text" type="text" name="captcha" required="required" />
                                <input type="hidden" name="captcha_md5" value="${c.captcha_md5}" /><br />
                                <span class="quiet small">Para evitar SPAM e garantir que você é uma pessoa e não um programa</span>
                            </p>
                            <hr />

                            <p class="small"><span class="required">*</span> preenchimento do campo é obrigatório</p>
                            
                            <p class="bottom"><button type="submit" class="launch bottom"><h6>Enviar</h6></button></p>
                        </form>
                    </div>
                    
                    <div id="tab_esqueci_senha" class="box shadow">
                        <form name="login_form" method="post" action="${h.url(controller='pessoa', action='esqueci_senha')}">
                            <p>Informe seu e-mail. Em seguida, lhe enviaremos uma mensagem com um link para recadastrar sua senha.</p>
                            <p>
                                <label for="Email">E-mail <span class="required">*</span></label><br />
                                <input class="text" type="email" name="email" required="required" autofocus="autofocus" />
                            </p>

                            <p>
                                <label for="captcha">${c.captcha} <span class="required">*</span></label><br />
                                <input class="text" type="text" name="captcha" size="10" required="required" />
                                <input type="hidden" name="captcha_md5" value="${c.captcha_md5}" /><br />
                                <span class="quiet small">Para evitar SPAM e garantir que você é uma pessoa e não um programa</span>
                            </p>
                            <hr />
                            <p class="small"><span class="required">*</span> preenchimento do campo é obrigatório</p>
                            <p class="bottom"><button type="submit" class="launch bottom"><h6>Enviar</h6></button></p>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <xi:include href="../include/footer.html" />
</body>
</html>
