<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<xi:include href="../layout.html" />
<head>
    <title>republicaos.com.br &rsaquo;    Acesse sua conta</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

</head>
<body id="account">

<h2>Acesse sua conta</h2>
<div id="main">
    <p><span class="want-to-signup">Não é cadastrado? <a href="/account/signup">Crie sua conta agora!</a></span></p>
    <form action="${h.url_for(controller='root', action='login')}" method="post">
    <fieldset>
        <legend>Entre agora!</legend>
        <p><label for="email">E-mail</label>
        <input class="text" id="email" name="email" type="text" /></p>
        <p><label for="password">Senha</label>
        <input class="text" id="password" name="senha" type="password" /></p>
        <p><input name="commit" type="submit" value="Entrar" /> <a href="/pessoa/esqueceu_senha">Esqueceu sua senha?</a></p>
    </fieldset>
    </form>
</div>

</body>
</html>
