<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">

<head>
    <title>Republicaos - Login | Criação de Conta</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="${h.url('/css/blueprint/screen.css')}" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="${h.url('/css/blueprint/print.css')}" type="text/css" media="print" />
    <!--[if lt IE 8]><link rel="stylesheet" href="${h.url('/css/blueprint/ie.css')}" type="text/css" media="screen, projection" /><![endif]-->

    <link rel="stylesheet" href="${h.url('/css/republicaos.css')}" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="${h.url('/css/buttons.css')}" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="${h.url('/css/avisos.css')}" type="text/css" media="screen, projection" />
    
    <xi:include href="../include/scripts.html" />
    
    <script type="text/javascript"> 
        $(document).ready(function() {
            $("#navigation li a").click(function() {
                var selected = $("#navigation li.selected a");
                if (this != selected) {
                    $(selected).parent().removeClass("selected");
                    $($(selected).attr("href")).hide();
                    
                    $(this).parent().addClass("selected");
                    $($(this).attr("href")).show();
                }
            });
            
            // Este mesmo arquivo é usado tanto para login quanto para nova conta
            <py:if test="c.action == 'nova_conta'">
            // inicia mostrando o formulário de nova conta
            $("#navigation li a[href='#tab_nova_conta']").click();
            </py:if>
            <py:if test="c.action != 'nova_conta'">
            // inicia com o formulário de login e esconde o outro
            $("#tab_nova_conta").hide();
            </py:if>
        });
    </script>

</head>

<body>
    <xi:include href="../include/header.html" />
    <xi:include href="../include/form_errors.html" />
    
    <div class="main">
        <div class="container">
            <div class="span-24">
                <xi:include href="../include/flash.html" />
                <br />
                <div id="tabs" class="span-12 box shadow">
                    <ul id="navigation">
                        <li class="selected"><a href="#tab_login">Login</a></li>
                        <li><a href="#tab_nova_conta">Nova Conta</a></li>
                    </ul>
                    
                    <div id="tab_login" class="selected">
                        <form name="login_form" method="post" action="${h.url(controller='root', action='login')}">
                            <p>
                                <label for="Email">E-mail <span class="required">*</span></label><br />
                                <input class="text" type="email" name="email" size="20" required="required" autofocus="autofocus" />
                            </p>

                            <p>
                                <label for="senha">Senha <span class="required">*</span> <img src="/images/info-16x16-2.png" class="tip" tip_ref="#tip_nova_senha" /></label><br />
                                <input class="text" type="password" name="senha" required="required" pattern="[^\s]{4,}" />
                            </p>

                            <hr />

                            <p class="login">Esqueceu sua senha? Informe seu e-mail e <a href="/pessoa/esqueceu_senha">clique aqui</a> para criar uma nova senha</p>
                            <p class="small"><span class="required">*</span> preenchimento do campo é obrigatório</p>
                            
                            <p class="bottom"><button type="submit" class="launch bottom"><h6>Entrar</h6></button></p>
                        </form>

                    </div>
                    
                    <div id="tab_nova_conta">
                        <form name="nova_conta_form" method="post" action="${h.url(controller='pessoa', action='new')}">
                            <p>
                                <label for="Email">E-mail <span class="required">*</span></label><br />
                                <input class="text" type="email" name="email" size="20" required="required" autofocus="autofocus" />
                            </p>

                            <p>
                                <label for="senha">Senha <span class="required">*</span> <img src="/images/info-16x16-2.png" class="tip" tip_ref="#tip_nova_senha" /></label><br />
                                <input class="text" type="password" name="senha" required="required" pattern="[^\s]{4,}" />
                            </p>
                            <p>
                                <label for="confirmacao_senha">Confirmação da Senha <span class="required">*</span></label><br />
                                <input class="text" type="password" name="confirmacao_senha" size="10" required="required" />
                            </p>

                            <p>
                                <label for="nome">Nome ou Apelido <span class="required">*</span> <img src="/images/info-16x16-2.png" class="tip" tip_ref="#tip_apelido" /></label><br />
                                <input class="text" type="text" name="nome" required="required" />
                            </p>

                            <p>
                                <label for="captcha">${c.captcha} <span class="required">*</span> <img src="/images/info-16x16-2.png" class="tip" tip_ref="#tip_captcha" /></label><br />
                                <input class="text" type="text" name="captcha" size="10" required="required" />
                                <input type="hidden" name="captcha_md5" value="${c.captcha_md5}" />
                            </p>
                            <p>
                                <input type="checkbox" name="aceito_termos" required="required" /> Li e aceito os <a href="${h.url(controller='root', action='termos_uso')}">termos de Uso</a> <span class="required">*</span>
                            </p>
                            <hr />

                            <p class="login">Esqueceu sua senha? Informe seu e-mail e <a href="/pessoa/esqueceu_senha">clique aqui</a> para criar uma nova senha</p>
                            <p class="small"><span class="required">*</span> preenchimento do campo é obrigatório</p>
                            
                            <p class="bottom nova_conta"><button type="submit" class="launch bottom"><h6>Criar Conta</h6></button></p>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
     <div id="tip_apelido" style="display:none">
        <p class="bottom">Será usado para lhe identificar no Republicaos</p>
    </div>
     <div id="tip_keep_connected" style="display:none">
        <p class="bottom">Da próxima vez que você entrar no Republicaos através desse computador,<br />você já vai ser logado automaticamente</p>
    </div>
    <div id="tip_nova_senha" style="display:none">
        <p class="bottom">A senha deve ter mais de 4 caracteres ou mais e pode conter letras, números e pontuação</p>
    </div>
    <div id="tip_captcha" style="display:none">
        <p class="bottom">Captcha para evitar SPAM, provando que você é humano e não um programa! :-)</p>
    </div>
    
    <xi:include href="../include/footer.html" />
</body>
</html>
