<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<head>
    <title>Republicaos - Mantendo as contas da república em ordem!</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    
    <link rel="stylesheet" href="${h.url('/css/blueprint/screen.css')}" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="${h.url('/css/blueprint/print.css')}" type="text/css" media="print" />
    <!--[if lt IE 8]><link rel="stylesheet" href="${h.url('/css/blueprint/ie.css')}" type="text/css" media="screen, projection" /><![endif]-->

    <link rel="stylesheet" href="${h.url('/css/republicaos.css')}" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="${h.url('/css/buttons.css')}" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="${h.url('/css/avisos.css')}" type="text/css" media="screen, projection" />
    
    <script src="${h.url('/jquery/1.4.4/jquery.min.js')}" type="text/javascript"></script>
    
    <style type="text/css">
        .main { text-align: justify }
    </style>
</head>

<body>
    <xi:include href="../include/header.html" />

    <div class="main">
        <div class="container">
            <div class="span-24 funcionamento">
                <h1 class="titulo">Política de Privacidade</h1>
                
                <div class="box">
                    <p>Seja bem vindo ao Republicaos! Sua privacidade é extremamente importante!</p>
                    <p>Esta Política se aplica a todos os produtos, serviços e sites da web (doravante coletivamente denominados de "Serviços") oferecidos pela Pronus Tecnologia da Informação Ltda. (doravante denominada "Pronus").</p>


                    <p>Se você tiver qualquer dúvida acerca dos termos desta Política de Privacidade, entre em nos contato através do <a href="${h.url(controller='root', action='fale_conosco')}" target="_blank">formulário de contato</a>.</p>
                    
                    <h2>Versão Resumida</h2>
                    
                    <ul>
                        <li><strong>Não fornecemos informações pessoais dos usuários</strong>. Contudo, disponibilizamos estatísticas gerais tais como o número de contas de determinada região etc. que podem ser acessadas na <a href="${h.url(controller='root', action='anunciantes')}">página para anunciantes</a>.</li>
                        <li><strong>Respeite as condições de uso do serviço</strong>. Procure não usar o serviço para formas diferentes das quais ele foi originalmente oferecido. Não publique nada ilegal, imoral ou ofensivo. Não aja de maneira desonesta nem tente prejudicar o serviço ou outros usuários.</li>
                    </ul>

                        
                    
                    <h2>Versão Extendida</h2>

                    <p>Esta Política de Privacidade prevê o tratamento que a Pronus dá às informações cadastradas quando você usa um dos nossos Serviços. Ademais, esta política estabelece regras e condições adicionais de uso dos Serviços ofertados pela Pronus, que devem ser rigorosamente aceitas, observadas e cumpridas por qualquer de seus usuários.</p>

            <ol>
                <li><strong>Uso das Informações</strong>
                    <p><u>O seu registro é sigiloso</u>. Ao se registrar em algum dos serviços oferecidos pela Pronus, alguns dados pessoais são solicitados (tais como endereço de e-mail, uma senha de conta, ano de nascimento, sexo e estado civil), todavia, estas informações, de cunho genérico, não permitem qualquer identificação pessoal do usuário.</p>
                    
                    <p>A Pronus poderá utilizar-se das informações fornecidas por você para os seguintes propósitos gerais:</p>
                    <ul>
                        <li>desenvolver novos produtos ou ofertas especiais e contatá-lo sobre eles através do endereço de e-mail fornecido no cadastro. No entanto, o usuário poderá, a qualquer momento, optar por não receber estes e-mails, na forma do item 14.1 do Termo de Adesão;</li>
                        <li>personalizar o conteúdo e os anúncios que você vê.</li>
                    </ul>
                    <br />

                </li>

                <li><strong>Compartilhamento de Informações.</strong><br />

                    <p><strong><u>A Pronus NÃO compartilha as informações pessoais de seus usuários.</u></strong></p>
                    <p>A Pronus poderá divulgar dados estatísticos, tais como o número de usuários de determinada região ou de certa faixa etária, todavia, ressalte-se que a utilização destes dados NUNCA identificará o usuário.</p>
                </li>

                <li><strong>Segurança da Informação.</strong>
                    <p>Todas as medidas de segurança necessárias são tomadas para garantir a privacidade dos dados armazenados, incluindo-se proteção contra acesso, roubo, alteração ou destruição.</p>

                    <p>As técnicas de proteção utilizadas são as mais sofisticadas do mercado, aplicadas em várias camadas para garantir a confiabilidade e o sigilo das informações.</p>

                    <p><u>Além disso, os dados coletados para fins estatísticos são armazenados de forma que até mesmo os funcionários da Pronus ficam impossibilitados de obter informações sigilosas dos usuários.</u></p>

                    <p>As informações de acesso e contato são armazenadas utlizando técnicas de criptografia distintas que aumentam a segurança das informações.</p>   

                    <p>Outrossim, temos profissionais que testam as medidas de segurança constantemente para garantir que estão alinhadas com as recentes técnicas de invasão presentes no mercado.</p>   

                    <p><u>As Informações da Conta do Usuário são protegidas com senha por medida de segurança e garantia da privacidade, na forma do item 4 do Termo de Adesão, sendo de total e integral responsabilidade do mesmo o sigilo e a confidencialidade da referida senha e o uso dos serviços com a mesma.</u></p>

                </li>
            
                <li><strong>Mudanças na Política de Privacidade.</strong>

                    <p>A Pronus pode alterar esta política de privacidade de tempos em tempos, sendo que eventual mudança que afete os direitos de uso dos serviços e/ou a maneira de utilização das informações pessoais fornecidas/cadastradas, serão notificadas prontamente ao usuário.</p>

                    <p>Não obstante, será de total responsabilidade do usuário manter-se frequentemente atualizado a respeito da última versão da política de privacidade, mediante o acesso do endereço desta página.</p>
                </li>

                <li><strong>Condições de uso dos serviços ofertados pela Pronus</strong>

                    <p>O conteúdo publicado pelo usuário através do uso dos produtos e serviços ofertados pela Pronus é de sua única e exclusiva responsabilidade, inclusive em âmbito judicial, visto que o login e a senha de acesso são de uso pessoal e intransferível. </p>

                    <p>É proibido publicar, divulgar, propagar ou disseminar, em qualquer serviço da Pronus, material protegido por direitos autorais, sem a devida autorização do autor ou de seu representante, ou ainda, publicar imagens de pessoas sem prévia anuência e permissão legal.</p>

                    <p>A Pronus não se responsabiliza pelo conteúdo, opiniões e comentários dos usuários na utilização dos serviços oferecidos.</p>

                    <p>O conteúdo publicado por usuários não é revisado ou fiscalizado pela Pronus. Porém, esta poderá, a qualquer tempo e a seu critério, deixar qualquer conteúdo fora do âmbito do seu serviço ou excluir, parcial ou integralmente, caso possa ser interpretado como contrário às normas legais em vigor, às presentes regras ou a qualquer outro termo ou condição aplicável ou, ainda, em razão de denúncias, sem que isto gere qualquer responsabilidade à Pronus ou direito ao usuário.</p>

                    <p>Uma vez descumpridas quaisquer das regras expostas ou for verificado o exercício de ilegalidades, o usuário poderá ter sua conta de acesso cancelada, independente de qualquer notificação.</p>

                    <p>O conteúdo publicado nos serviços prestados pela Pronus não deve conter os seguintes itens:</p>
                        <ul>
                            <li>Material pornográfico ou atividades ilegais incluindo menores de 18 anos (segundo o artigo 241 do Estatuto da Criança e do Adolescente);</li>
                            <li>Material e/ou linguagem grosseira ou ofensiva;</li>
                            <li>Prática, indução ou incitação de preconceito quanto à origem, raça, etnia, sexo, orientação sexual, cor, idade, crença religiosa ou qualquer outra forma de discriminação;</li>
                            <li>Material calunioso, abusivo ou que invada a privacidade de alguém;</li>
                            <li>Imagens e/ou linguagem obscena ou pornográfica;</li>
                            <li>Afirmações injuriosas ou difamatórias;</li>
                            <li>Informação sobre atividades ilegais e incitação ao crime;</li>
                            <li>Material protegido por direitos autorais, publicação de textos sem autorização do autor ou de seu representante legal, publicação de fotos sem autorização do autor e/ou dos fotografados e distribuição de arquivos de som sem autorização de pessoas ou empresas responsáveis;</li>
                            <li>Informação relativa à pirataria de material protegido pelas leis de direitos autorais e propriedade;</li>
                            <li>Divulgação - como próprio ou sem a devida autorização - de nomes, contatos e demais informações de terceiros;</li>
                            <li>Propaganda política para candidatos, partidos ou coligações, bem como propaganda a respeito de seus órgãos ou representantes;</li>
                            <li>Banners publicitários;</li>
                            <li>Vendas online, mesmo de produtos de criação do autor da página;</li>
                            <li>Páginas e arquivos criptografados ou protegidos por senhas;</li>
                            <li>Programas e arquivos que contenham vírus ou qualquer outro código malicioso;</li>
                            <li>Defesa ou estímulo a práticas que ponham a saúde de qualquer pessoa em risco;</li>
                            <li>Material que viole qualquer lei municipal, estadual ou federal do Brasil.</li>
                </ul>
                <br />
                <p>Ao fazer uso dos serviços da Pronus, o Usuário não deve:</p>
                <ul>
                    <li>Transmitir tipos ou quantidades de dados que causem falhas em serviços ou equipamentos na rede da Pronus ou na Internet;</li>
                    <li>Usar a rede para tentar e/ou realizar acesso não autorizado a dispositivos de comunicação, informação ou computação;</li>
                    <li>Forjar endereços de máquinas, de rede ou de correio eletrônico, na tentativa de responsabilizar terceiros ou ocultar a identidade ou autoria;</li>
                    <li>Destruir ou corromper dados e informações de outros usuários;</li>
                    <li>Violar a privacidade de outros usuários;</li>
                    <li>Distribuir, via correio eletrônico, grupos de discussão, fóruns e formas similares de comunicação mensagens não solicitadas do tipo 'corrente' e mensagens em massa, comerciais ou não;</li>
                    <li>Enviar grande quantidade de mensagens idênticas ao mesmo destinatário por correio eletrônico ("mail bombing").</li>
                </ul>
                <br />
                <p>O usuário que desobedecer qualquer das normas previstas nesta política de privacidade ou em qualquer outro documento emanado pela Pronus pode receber advertências ou, até mesmo, ter desabilitado o acesso aos serviços.</p>                       
            </li>
            </ol>
                </div>
            </div>
        </div>
    </div>

    <xi:include href="../include/footer.html" />

</body>
</html>
