<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<xi:include href="../layout.html" />

<head>
    <title> &rsaquo;  Tour pelo sistema</title>
</head>
<body>
    <ol>
        <li>Cadastre-se</li>
        <li>Confirme seu e-mail</li>
        <li>Crie uma república</li>
        <li>Convide outros moradores</li>
        <li>Lance as despesas</li>
        <li>Acompanhe o rateio</li>
    </ol>
</body>
</html>
