.avisos_panel {
    position: absolute;
    top: 10px;
    left:0;
    z-index:1;
}

#avisos {
    padding: 0.5em;
    background: white;
    float: left;
}

.notice, .error, .warning, .info {
    font-weight: bold;
    padding: .5em .5em .5em 5em;
    margin-bottom: 0.5em;
}


.error {
    border: 2px solid #a00;
    background: #fee url(../images/error48x48.png) no-repeat .5em center;
    color: #c00;
}

.warning {
    border: 1px solid #777;
    background: #ffc url(../images/warning.png) no-repeat .5em center;
    color: #333;
}

.info {
    border: 1px solid #82c2d4;
    background: #ebf5f8 url(../images/info48x48.png) no-repeat .5em center;
    color: #444;
}

.delado {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);

    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


button.avisos {
    float: left;
    font-weight: bold;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.4);
    text-align: center;
    position: absolute;
    top: 0;
    
    -moz-border-radius:  0 1.5em 1.5em 0;
    -webkit-border-radius: 0 1.5em 1.5em 0;
    border-radius: 0 1.5em 1.5em 0;
    padding: 1em;
    cursor: pointer;
    background: black;
    color: #bbb;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 1px black;
    

    color: white;
    
    background: #f6290c; /* old browsers */
    background: -moz-linear-gradient(top, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* firefox */

/*
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f85032), color-stop(50%,#f16f5c), color-stop(51%,#f6290c), color-stop(71%,#f02f17), color-stop(100%,#e73827)); /* webkit */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* ie */

/*
    -webkit-box-shadow: inset 0 2px 5px rgba(0,0,0,.75);
*/
}

button.avisos:hover {
    background: #565656;
    background: -moz-linear-gradient(top, #464646 0%, #292929 33%, #232323 100%); /* firefox */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#464646), color-stop(33%,#292929), color-stop(100%,#232323)); /* webkit */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464646', endColorstr='#232323',GradientType=0 ); /* ie */
}
