/*=general*/
::-moz-selection { background: #03c; color: #fff; }
::selection { background: #03c; color: #fff; }


/* hacking \*/
* html body {
    font-size: 1.25ex;
}
/* IE/Mac */

.has-js .hide, .has-js .editable {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

body {
    font-family: arial, trebuchet ms, sans;
    font-size: small;
/*
    background: #e5e5e5 url(../images/bg-degrade.jpg) repeat-x;
    text-align: center;
*/
}


section, header, footer {
    display: block;
    position: relative;
}

section, footer {
    margin: 0 auto;
    padding: 0;
    text-align: left;
    width: 980px;
}

section {
    margin: 2em auto 2em;
}

section article {
    display: block;
    margin: 3em 0 5em;
}

section article.sidebar {
    float: left;
    width: 30%;
}

section article.principal {
    float: right;
    width: 68%;
}


h1 {
    background: url(../images/dotted.gif) repeat-x bottom;
    color: #000;
    font-weight: normal;
    margin-bottom: 1em;
    padding-bottom: .2em;
    text-transform: uppercase;
}


h2 {
    color: white;
    font-weight: normal;
    margin-bottom: 1em;
    padding: .2em;
    background-color: green;
    font-family: tahoma, sans-serif;
    font-size: 1.8em;
}


h3 {
    color: green;
    font-family: "arial narrow",sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1em;
}

p {
    line-height: 1.4;
    margin: 1em 0;
}


body, footer .footer-nav a {
    color: #333;
}

header {
    display: block;
    padding:1em;
    position:relative;
    width:980px;
    margin: 0 auto;
}


header h1 {
    background: none;
    margin: 0;
    padding: 0;
}

header h1 a {
    background: url(../images/logotipo.png) no-repeat;
    height: 62px;
    width: 287px;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
}


header #login-form {
    position: absolute;
    top: 1em;
    right: 1em;
    line-height: 1.2em;
    font-size: 1em;
}

header #login-form .input {
    float: left;
    margin: 0.4em 15px 0 0;
}

header #login-form .input-right {
    float: right;
    margin: 0.4em 0px 0 0;
}

header nav {
    position: absolute;
    bottom: 1em;
    right: 1.5em;
}



/*=home*/


#home section {
    margin-top: 0;
}

#home section ul {
    margin: 0 0 0 1em;
}

#home section dt {
    background: url(../images/bullet2.gif) no-repeat left .3em;
    font-weight: bold;
    line-height: 1.5;
    padding-left: 1.5em;
}

#home section dd {
    margin-bottom: 1em;
    padding-left: 1.5em;
}

#home h2 {
    background: url(../images/dotted.gif) repeat-x bottom;
    color: #000;
    font-weight: normal;
    margin-bottom: 1em;
    padding-bottom: .2em;
}


#teaser {
    border: 5px solid #7faa0b;
    background: url(../images/bgteaser.png) repeat-x;
    margin:0 0 3em;
    padding: 20px;
}

#teaser h1 {
    color:#000000;
    font-size:37px;
    letter-spacing:-2px;
    line-height:1em;
    margin: 0 0 0.4em;
    padding:0;
    text-align:left;
    background: none;
    font-weight: bolder;
}

#teaser h2 {
    color: white;
    font-family:georgia,times;
    font-size:24px;
    font-weight:normal;
    line-height:1.2em;
    margin:0 0 10px;
    padding:0;
    background: none;
    text-transform: none;
}


.coluna-esquerda {
    float: left;
    width: 45%;
    margin-right: 5%
}

.coluna-direita {
    float: right;
    width: 45%;
    margin-left: 5%;
}

#home .content {
    position: relative;
    padding: 1em;
}

.content {
    position: relative;
    padding: 3em;
}

.content h1 {
    margin-bottom: 1em;
}

.content a {
    font-size: 1.2em;
}

.painel .perfil {
    float: left;
    width: 47%;
}

.painel .perfil .foto {
    float: left;
    width: 120px;
}

.painel .perfil .dados-perfil {
    float: left;
}


.painel .republicas {
    float: right;
    width: 47%
}


footer {
    background: url(../images/dotted.gif) repeat-x;
    padding: 1em 0;
    position: relative;
    clear: both;
}

footer .footer-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 1em;
}

footer .footer-nav li {
    display: inline;
    padding-left: .5em;
}

.powered_by {
    text-align: center;
}


/*=messages*/
.notice, .error, .warning, .info {
    font-weight: bold;
    margin: -1em 0 1.5em 0;
    padding: .5em .5em .5em 2.7em;
}


.error {
    border: 1px solid #c68484;
    background: #fcc url(../images/cross.png) no-repeat .5em center;
    color: #c00;
}

.warning {
    border: 1px solid #dd0;
    background: #ffc url(../images/error.png) no-repeat .5em center;
    color: #000;
}

.info {
    border: 1px solid #82c2d4;
    background: #ebf5f8 url(../images/information.png) no-repeat .5em center;
    color: #000;
}

.error-list {
    background: #ffc url(../images/dialog-warning.png) no-repeat 1.5em 1.5em;
    border: 1px solid #dd0;
    color: #333;
    margin-bottom: 2.5em;
    min-height: 5.5em;
    padding: 1em 1em 1em 6em;
    position: relative;
}

.error-list dt {
    font-weight: bold;
    padding: .2em 0;
}

.error-list dd {
    background: url(../images/bullet.gif) no-repeat 1.8em center;
    padding: .2em 0 .2em 3em;
}

.error-list .close {
    color: #ee3a42;
    position: absolute;
    right: 1em;
    top: 1em;
}

.highlight {
    background: #ffc;
    color: #333;
    padding: .5em;
}

.balance.positive,
span.positive {
    color: #369;
}

.balance.negative,
span.negative {
    color: #ee3a42;
}

/*=adsense*/
.adsense-top {
    margin-bottom: 1em;
}


a img {
    border: 1px solid #ddd;
    padding: .5em;
}

a:hover img {
    border: 1px solid #888;
}

table.rateio {
    border-collapse: collapse;
}

table.rateio td, table.rateio th {
    padding: 0.3em 1em;
}

table.rateio td, table .number{
    font-family: FreeMono, "Courier New", Courier, monospace;
    font-size: 1.3em;
}

table .number {
    text-align: right;
}

table.rateio thead, table.rateio tfoot {
    font-weight: bold;
    font-family: georgia;
}

table.rateio thead th {
    border-bottom: 1px solid black;
    text-align: center;
}

table.rateio tfoot th {
    border-top: 1px solid black;
}

table.acerto th, table.acerto td {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

table.rateio tbody .odd {
    background: #efe;
}

.saldo_pos {
    color: blue !important;
}

.saldo_neg {
    color: red !important;
}




pre {
    font-size: 11px;
}


a {
    color: #03c;
}

a:hover {
    color: #ee3a42;
}

ul {
    margin-left: 2em;
}

form p {
    margin-top: 1em;
}


input[type="text"], input[type="password"] {
    padding: .2em;
}

fieldset {
    border: 1px solid #ccc;
    padding: 1em;
}

fieldset ul {
    list-style: none;
}

span.hint {
    display: block;
    font-style: italic;
}


img {
    margin: 1em 0;
}

.inline {
    display: inline !important;
}

label {
    color: #333;
}

label .optional {
    color: #777;
    font-weight: normal;
}

form h2 {
    background: url(../images/dotted.gif) repeat-x bottom;
    color: #000;
    font-weight: normal;
    margin-bottom: 1em;
    padding-bottom: .2em;
}

/* tables */



/*
table.tablesorter {
    font-family:arial;
    background-color: #CDCDCD;
    margin:10px 0pt 15px;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    font-size: 8pt;
    padding: 4px;
}
table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}

table.tablesorter tbody tr.odd td {
    background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}
*/

table.tablesorter thead tr .header {
/*
    background-image: url(bg.gif);
*/
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(../images/desc.gif);
}

.fechamentos {
    height: 6em;
    overflow: auto;
}

h1 select {
    font-size: 1em;
}
