
@import "fonts.css";

body {
    text-rendering:optimizelegibility;
    font-family: "DejaVu Sans", Arial, Helvetica, serif;
}

body#home {
    background: #FAFBFC;
}

.textura_header {
    background: url("/images/bg_couro.jpg") repeat-x scroll left bottom;
    background: url("http:/images/bg_texture.gif") repeat scroll left top #FEF7E7
}

#home .header {
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#0F5C62), to(#042F32));
    background: -moz-linear-gradient(top,  #0F5C62,  #042F32);
    border-bottom: 1px solid rgba(0, 0, 0, 0.65);
}

#home .header h1 {
    margin-bottom: 0;
    margin-top: 0.35em;
    font-size: 4.5em;
}

.logotipo {
    font-family: EnterSansman1Bold, serif;
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5), 0 0 7px black;
}

.caos {
    color: orange;
/*
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
*/
}

.slogan {
    color: white;
    font-family: "DesyrelRegular", cursive;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 1);
}

#home .header2 {
    border-top: 1px solid rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    background: #F1E9DC;
    background: rgba(193, 164, 107, 0.4);
}


#home .header2 h1 {
    font-family: "Arial Black", Arial, Helvetica, sans-serif;
    color: #3C3E38;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#home .header2 ul {
    color: #60605D;
}

#home .header2 .destaque {
    color: #D34E1A;
    font-weight: bold;
}

#home .main {
    background: transparent;
    border-top: 1px solid rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

#home .main h1 {
    margin-top: 0.5em;
}

#home .center {
    text-align: center;
}

#home .box {
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.5);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.5);
    box-shadow: 1px 1px 2px rgba(0,0,0,.5);
    cursor: pointer;
    border: 3px solid orange;
    background-color: white;
}

#home .main nav li {
    background: yellow;
    padding: 0 1em 0 0.25em;
    position: relative;
}

#home .main nav li.active {
    background: blue;
    padding: 0 1em 0 0.25em;
    position: relative;
}


#home .footer {
    background: #0A2427;
    color: #aaa;
}

#home .footer .links {
    text-align: right;
}

.footer a, .footer a:visited {
    color: #aaa;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

nav ul {
    list-style: outside;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin: 0;
    text-align: right;
}

nav li {
    display: inline;
    list-style: none outside none;
    margin-left: 1em;
}

a {
    cursor: pointer;
}

a:visited {
    color: white;
}

nav li a {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    line-height: 3em;
    padding: 0 8px;
    text-decoration: none;
}

nav li a:focus, nav li a:hover {
    color: white;
    background: rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.5);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.5);
    box-shadow: 0 1px 2px rgba(0,0,0,.5);
}

center {
    text-align: center;
}

.shadow-blur {
    -webkit-box-shadow: 0 0px 5px rgba(0,0,0,.75);
    -moz-box-shadow: 0 0px 5px rgba(0,0,0,.75);
    box-shadow: 0 0px 5px rgba(0,0,0,.75);
}


.button {
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    line-height: 54px;
    padding: 8px 36px;
    text-shadow: 0 -1px 2px rgba(0,0,0,.5);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    color: #faddde;
    border: solid 1px #980c10;
    background: #d81b21;
    background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
    background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.button:hover {
    color: white;
    text-decoration: none;
    background: #b61318;
    background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
    background: -moz-linear-gradient(top,  #c9151b,  #a11115);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
.button:active {
    position: relative;
    top: 1px;
    color: #de898c;
    background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
    background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}

