.login_panel {
    position: absolute;
    top: 0px;
    right:0;
    text-align: right;
    z-index:1;
}

#login_form_panel {
    overflow: hidden;
    text-align: left;
    background: black;
    color: #bbb;
    padding: 1em;
    -moz-border-radius: 0 0 0 2em;
    -webkit-border-radius: 0 0 0 2em;
    border-radius: 0 0 0 2em;
    display: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 0px;
    
    background: #363636; /* old browsers */
    background: -moz-linear-gradient(top, #363636 0%, #191919 33%, #030303 100%); /* firefox */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#363636), color-stop(33%,#191919), color-stop(100%,#030303)); /* webkit */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363636', endColorstr='#030303',GradientType=0 ); /* ie */
}

.login_label {
    font-weight: bold;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.4);
}

.login_button {
    width: 10em;
    text-align: center;
    position: absolute;
    right: 0;
    -moz-border-radius: 0 0 1.5em 1.5em;
    -webkit-border-radius: 0 0 1.5em 1.5em;
    border-radius: 0 0 2em 2em;
    padding: 0.5em 0 1em 0;
    cursor: pointer;
    background: black;
    color: #bbb;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 1px black;
    
    background: #363636;
    background: -moz-linear-gradient(top, #363636 0%, #191919 33%, #030303 100%); /* firefox */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#363636), color-stop(33%,#191919), color-stop(100%,#030303)); /* webkit */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363636', endColorstr='#030303',GradientType=0 ); /* ie */

}

.login_panel input.text {
    width: auto;
}
