@import url("/css/default.css");

header nav, .sidebar, .edicao,
.powered_by, .footer-nav {
    display: none;
}

section article.principal {
    float: none;
    width: 100%;
}

h3 {
    color: #444;
}

.print {
    display: inherit;
}

.screen {
    display: none;
}

a {
    color: black;
}


table.tablesorter thead tr .headerSortUp:after {
    content: '';
}

table.tablesorter thead tr .headerSortDown:after {
    content: '';
}

.saldo_pos, .saldo_neg {
    color: black !important;
    font-weight: bolder;
}

.flash_msg {
    display: none;
}
