
@import "fonts.css";

body, button {
    text-rendering:optimizelegibility;
    font-family: "DejaVu Sans", Arial, Helvetica, serif;
}


a {
    cursor: pointer;
    text-decoration: none;
}



.center {
    text-align: center;
}



.header {
    background: #28343B;
}

.header h1 {
    margin-top: 0.35em;
    font-size: 3.5em;
    font-family: EnterSansman1Bold, serif;
    color: #aaa;
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.75), 0 0 7px black;
}


.footer {
    color: #aaa;
    
    background: #191919;
    background: -moz-linear-gradient(top, #363636 0%, #191919 33%, #030303 100%); /* firefox */

    /*
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#363636), color-stop(33%,#191919), color-stop(100%,#030303)); /* webkit */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363636', endColorstr='#030303',GradientType=0 ); /* ie */

}

.footer .links p {
    text-align: right;
}

.footer a, .footer a:visited {
    color: #aaa;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.tecnologias {
    background: #042F32;
    display: none;
}


.titulo {
    font-family: "Serifa", "Arial Black", Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.75), 0 0 7px black;
    margin-top: 0.5em;
}

.shadow-blur {
    -webkit-box-shadow: 0 0px 5px rgba(0,0,0,.75);
    -moz-box-shadow: 0 0px 5px rgba(0,0,0,.75);
    box-shadow: 0 0px 5px rgba(0,0,0,.75);
}

.shadow {
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.75);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,.75);
    box-shadow: 0 2px 5px rgba(0,0,0,.75);
}

.main {
    background: #335F92; /* old browsers */
    background: -moz-linear-gradient(top, #335F92 0%, #447FC3 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#335F92), color-stop(100%,#447FC3)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#335F92', endColorstr='#447FC3',GradientType=0 ); /* ie */
}

.main h2 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}


.box {
    -webkit-border-radius: 1em; 
    -moz-border-radius: 1em;
    border-radius: 1em;
    background-color: Ivory;
}
