
@import "fonts.css";

body, button {
    text-rendering:optimizelegibility;
    font-family: "DejaVu Sans", Arial, Helvetica, serif;
}


a {
    cursor: pointer;
}



center {
    text-align: center;
}

