    <nav>
        <ul>
            <li id="func1" class="active">
                1
                <div class="arrow_head_shadow"></div><div class="arrow_head"></div>
            </li>
            <li id="func2">
                <div class="arrow_tail_shadow"></div><div class="arrow_tail"></div>
                2
                <div class="arrow_head_shadow"></div><div class="arrow_head"></div>
            </li>
            <li id="func3">
                <div class="arrow_tail_shadow"></div><div class="arrow_tail"></div>
                3
                <div class="arrow_head_shadow"></div><div class="arrow_head"></div>
            </li>
            <li id="func4">
                <div class="arrow_tail_shadow"></div><div class="arrow_tail"></div>
                4
            </li>
        </ul>
    </nav>
