<?python
from republicaos.lib.utils import get_flash_messages
flash_messages = get_flash_messages()
?>
<py:if test="flash_messages" xmlns:py="http://genshi.edgewall.org/">
    <div class="avisos_panel">
        <div id="avisos">
            <div py:for="css_class, messages in flash_messages.items()" class="${css_class}">
                <ul>
                    <li py:for="message in messages">${message}</li>
                </ul>
            </div>
        </div>
        <button class="avisos shadow" id="botao_aviso">Avisos</button>
    </div>
    <script type = "text/javascript">
        $(document).ready(function() {
            $("#botao_aviso").click(
                function ()
                    {
                    $("#avisos").animate(
                            {
                            width: ['toggle', 'swing'],
                            opacity: 'toggle'
                            },
                            'slow'
                        );
                    }
                );
        });
    </script>
</py:if>
