

    <div>
        <div class="footer">
            <div class="container">
                <br />
                <div class="span-10">
                    <p>&copy;2010 - <a href="http://www.pronus.eng.br">Pronus Engenharia de Software</a></p>
                </div>
                <div class="span-14 last links">
                    <p><a href="${h.url('/')}">Home</a> &nbsp;·&nbsp; <a href="${h.url(controller='root', action='politica_privacidade')}">Política de Privacidade</a> &nbsp;·&nbsp; <a href="${h.url(controller='root', action='termos_uso')}">Termos de Uso</a> &nbsp;·&nbsp; <a href="#">Anuncie</a> &nbsp;·&nbsp; <a href="#">Fale Conosco</a></p>
                </div>
            </div>
        </div>
        
        <div class="tecnologias">
            <div class="container">
                <div class="span-24">
                    <br />
                    <p class="center">
                    <a href="http://www.pylonshq.com"><img src="${h.url('/images/pylons-powered-02.png')}" class="shadow-blur" /></a> &nbsp; 
                    <a href="http://www.python.org"><img src="${h.url('/images/python-powered-02.png')}" class="shadow-blur" style="background-color: white" /></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
