<?python
from republicaos.lib.auth import get_user
user = get_user()
?>
    <div xmlns:py="http://genshi.edgewall.org/">
        <div class="barra_login_user">
            <div class="container">
                <div class="span-24">
                    <div py:if="user" class="links right">
                        <br />
                        <p style="text-align:right">${user} &nbsp;·&nbsp; 
                            <a href="${h.url(controller='pessoa', action='painel', id=user.id)}" title="editar perfil">Perfil</a>
                            &nbsp;·&nbsp; 
                            <a href="${h.url(controller='root', action='ajuda', id=user.id)}">Ajuda</a>
                            &nbsp;·&nbsp; 
                            <a href="${h.url(controller='root', action='logout')}">Sair</a>
                        </p>
                    </div>
                    <div class="right" py:if="not user">
                        <a href="${h.url(controller='root', action='login')}">Login</a> &nbsp;|&nbsp; <a href="${h.url(controller='pessoa', action='new')}">Nova Conta</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header">
            <div class="container">
                <a href="${h.url('/')}" class="logotipo">
                    <div class="span-10">
                        <h1>Republi<span class="caos">caos</span></h1>
                    </div>
                </a>
            </div>
        </div>
    </div>
