<?python
from republicaos.lib.auth import get_user
no_logged_user = get_user() == None
?>
    <div class="header" xmlns:py="http://genshi.edgewall.org/">
        <div class="container">
            <a href="${h.url('/')}">
                <div class="span-10">
                    <h1>Republi<span class="caos">caos</span></h1>
                </div>
            </a>
            
            <div class="span-14 last" style="text-align: right">
                <div py:if="c.user" class="links">
                    <br />
                    <p style="text-align:right">${c.user} &nbsp;·&nbsp; 
                        <a href="${h.url(controller='pessoa', action='painel', id=c.user.id)}" title="editar perfil">Perfil</a>
                        &nbsp;·&nbsp; 
                        <a href="${h.url(controller='root', action='ajuda', id=c.user.id)}">Ajuda</a>
                        &nbsp;·&nbsp; 
                        <a href="${h.url(controller='root', action='logout')}">Sair</a>
                    </p>
                </div>

                <a href="${h.url(controller='root', action='login')}" py:if="not c.user"><button class="login shadow">Login &nbsp;·&nbsp; Nova Conta</button></a>
            </div>
        </div>
    </div>
