<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">

<xi:include href="../layout.html" />

<?python
from datetime import timedelta
?>

<head>
    <title>${c.title}</title>
</head>

<body>
<div class="header">
</div>
<div class="content">
    <h2>${c.title}</h2>

    <p py:if="c.descricao">${c.descricao}</p>

    <form action="${c.action}" method="post" class="signup">
        <p><label>E-mail</label>
        <input class="text" id="email" name="email" maxlength="80" type="text" /></p>

        <p><label>Nome</label>
        <input class="text" name="nome" maxlength="30" size="30" type="text" /></p>

        <p><label>Data da entrada</label>
        <input class="text" name="entrada" maxlength="10" type="text" />
        </p>

        <p><input name="commit" type="submit" value="${c.submit}" /></p>
    </form>
</div>

</body>
</html>

