<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">

<xi:include href="../layout.html" />

<head>
    <title>Registrar desligamento da república ${c.republica.nome}</title>
</head>

<?python
from datetime import timedelta, date
from babel.dates import format_date

data_inicial, data_final = c.republica.fechamento_atual.intervalo
?>

<body id="account">
<header></header>
<section>
    <h1>Registrar desligamento da república ${c.republica.nome}</h1>

    <p>Preencha o campo abaixo com a data de desligamento da república. Essa data deve estar entre <strong py:content="format_date(data_inicial)">99/99/9999</strong> e <strong py:content="format_date(data_final)">99/99/9999</strong>.</p>

    <form action="${c.action}" method="post" class="signup">
        <table>
            <tr>
                <th class="label">E-mail</th>
                <td>${c.user.email}</td>
                <td class="help"></td>
            </tr>
            <tr>
                <th class="label">Nome</th>
                <td>${c.user.nome}</td>
                <td class="help"></td>
            </tr>
            <tr>
                <th class="label">Data de desligamento</th>
                <td><input class="text" name="saida" size="10" type="text" /></td>
                <td class="help"></td>
            </tr>
        </table>

        <p><input name="commit" type="submit" value="Enviar" /> ou <a href="${h.url(controller='pessoa', action='painel', id=c.user.id)}">Voltar o painel de controle</a></p>
    </form>
</section>
</body>
</html>