<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="master.html" />

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>Importar Conta de Telefone</title>
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/static/css/style.css')}" />
</head>

<body>
<h1>Editar Conta de Telefone</h1>

<?python
from dateutil.relativedelta import relativedelta
from pronus_utils           import pretty_decimal

def seconds_to_time(seconds):
	duracao = relativedelta(seconds = seconds)
	if duracao.hours:
		return '%02d:%02d:%02d' % (duracao.hours, duracao.minutes, duracao.seconds)
	else:
		return '%02d:%02d' % (duracao.minutes, duracao.seconds)

republica  = conta_telefone.republica
fechamento = republica.fechamento_na_data(conta_telefone.emissao)
moradores  = republica.moradores(fechamento.data_inicial, fechamento.data_final)
rateio_conta = [(key.pessoa.nome, conta_telefone.rateio[key]) for key in conta_telefone.rateio.keys()]
rateio_conta.sort()
?>

<form action="${tg.url('/conta_telefone/update')}" method="post">
	<input type="hidden" name="id_conta_telefone" value="${conta_telefone.id}" />

	<table>
		<tr>
			<td><label for="telefone">Telefone</label></td>
			<td><input name="telefone" maxlength="10" size="10" type="text" py:attrs="dict(value = conta_telefone.telefone)" value="1921212409"/></td>
		</tr>
		<tr>
			<td><label for="emissao">Data Emissão</label></td>
			<td><input name="emissao" maxlength="10" size="10" type="text" py:attrs="dict(value = conta_telefone.emissao.strftime('%d/%m/%Y'))" value="30/01/2007" /></td>
		</tr>
		<tr>
			<td><label for="vencimento">Data Vencimento</label></td>
			<td><input name="vencimento" maxlength="10" size="10" type="text" py:attrs="dict(value = conta_telefone.vencimento.strftime('%d/%m/%Y'))" value="10/02/2007" /></td>
		</tr>
		<tr>
			<td><label for="id_operadora">Operadora</label></td>
			<td>
				<select name="id_operadora">
					<option value="1">Net Fone</option>
				</select>
			</td>
		</tr>
		<tr>
			<td><label for="franquia">Franquia</label></td>
			<td><input name="franquia" size="15" type="text" py:attrs="dict(value = pretty_decimal(conta_telefone.franquia)) if conta_telefone.franquia else dict()" value="34,93" /> <span class="hint">Ex.: 295,00 ou 1.024,50</span></td>
		</tr>
		<tr>
			<td><label for="servicos">Encargos e Serviços</label></td>
			<td><input name="servicos" size="15" type="text" py:attrs="dict(value = pretty_decimal(conta_telefone.servicos)) if conta_telefone.servicos else dict()" /> <span class="hint">Ex.: 295,00 ou 1.024,50</span></td>
		</tr>
	</table>

	<table>
		<thead>
			<tr>
				<th>Número</th>
				<th>Responsável</th>
				<th>Duração</th>
				<th>Valor</th>
			</tr>
		</thead>
		<tbody>
			<tr py:for="telefonema in conta_telefone.telefonemas">
				<td>
					<input type="hidden" name="numero" value="${telefonema.numero}" />
					<input type="hidden" name="old_id_responsavel" value="${telefonema.responsavel.id if telefonema.responsavel else None}" />
					<span py:replace="telefonema.numero">193828530</span>
				</td>
				<td>
					<select name="id_responsavel">
						<option value="" py:attrs="dict(selected='selected') if not telefonema.responsavel else dict()"></option>
						<option py:for="morador in moradores" value="${morador.id}" py:attrs="dict(selected='selected') if telefonema.responsavel and telefonema.responsavel.id == morador.id else dict()">
						<span py:replace="morador.pessoa.nome">Nome</span>
						</option>
					</select>
				</td>
				<td py:content="seconds_to_time(telefonema.segundos)">99h 99min 99seg</td>
				<td py:content="pretty_decimal(telefonema.quantia)">99,99</td>
			</tr>
		</tbody>
	</table>
	
	<p>
		<input type="submit" value="Salvar" /> ou 
		<a href="/" class="cancel">Cancelar</a>
	</p>
</form>

<h2>Divisão da Conta</h2>

<table>
	<thead>
		<tr>
			<th>Nome</th>
			<th>Qtd Dias<br />Morados</th>
			<th>Participação<br />na Franquia</th>
			<th>Franquia</th>
			<th>Gastos</th>
			<th>Sem Dono</th>
			<th>Excedente</th>
			<th>Serviços</th>
			<th>A Pagar</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>Total</th>
			<th py:content="sum(rateio.qtd_dias for nome, rateio in rateio_conta)">999</th>
			<th py:content="'%s%%' % pretty_decimal(sum(rateio.porcentagem for nome, rateio in rateio_conta))">999,99</th>
			<th py:content="pretty_decimal(sum(rateio.franquia  for nome, rateio in rateio_conta))">999,99</th>
			<th py:content="pretty_decimal(sum(rateio.gastos    for nome, rateio in rateio_conta))">999,99</th>
			<th py:content="pretty_decimal(sum(rateio.sem_dono  for nome, rateio in rateio_conta))">999,99</th>
			<th py:content="pretty_decimal(sum(rateio.excedente for nome, rateio in rateio_conta))">999,99</th>
			<th py:content="pretty_decimal(sum(rateio.servicos  for nome, rateio in rateio_conta))">999,99</th>
			<th py:content="pretty_decimal(sum(rateio.a_pagar   for nome, rateio in rateio_conta))">999,99</th>
		</tr>
	</tfoot>
	<tbody>
		<tr py:for="nome, rateio in rateio_conta">
			<td py:content="nome">Fulano</td>
			<td py:content="rateio.qtd_dias"></td>
			<td py:content="'%s%%' % pretty_decimal(rateio.porcentagem)  if rateio.franquia  else ''">99,99</td>
			<td py:content="pretty_decimal(rateio.franquia)  if rateio.franquia  else ''">99,99</td>
			<td py:content="pretty_decimal(rateio.gastos)    if rateio.gastos    else ''">99,99</td>
			<td py:content="pretty_decimal(rateio.sem_dono)  if rateio.sem_dono  else ''">99,99</td>
			<td py:content="pretty_decimal(rateio.excedente) if rateio.excedente else ''">99,99</td>
			<td py:content="pretty_decimal(rateio.servicos)  if rateio.servicos  else ''">99,99</td>
			<td py:content="pretty_decimal(rateio.a_pagar)   if rateio.a_pagar   else ''">99,99</td>
		</tr>
	</tbody>
</table>

</body>
</html>
