<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="master.html" />

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>Cadastrar Despesa</title>
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/static/css/style.css')}" />
</head>

<body>
<h1>Cadastrar Despesa</h1>

<?python
from dateutil.relativedelta import relativedelta
hoje_str    = hoje.strftime('%d/%m/%Y')
termino_str = (hoje + relativedelta(months = 6)).strftime('%d/%m/%Y')
?>

<form action="cadastrar_despesa" method="post">
	<p>
		<label for="id_morador">Morador</label><br />
		<select name="id_morador">
			<option py:for="morador in moradores" value="${morador.id}">
				<span py:replace="morador.pessoa.nome">Nome do Morador</span>
			</option>
		</select>
	</p>
	
	<p>
		<label for="id_tipo_despesa">Tipo da Despesa</label><br />
		<select class="campo_importante" name="id_tipo_despesa">
			<option py:for="tipo_despesa in republica.tipos_despesa" value="${tipo_despesa.id}">
				<span py:replace="tipo_despesa.nome">nome do tipo da despesa</span>
			</option>
		</select>
	</p>
	
	<p>
		<label for="quantia">Quantia</label><br/>
		<input class="campo_importante" name="quantia" size="15" type="text" />
		<span class="hint">Ex.: 295,00 ou 1.024,50</span>
	</p>
	
	<p>
		<label for="schedule_mode">Vencimento</label><br />
		<span id="data_vencimento">
			<input maxlength="10" name="data_vencimento" size="10" type="text" py:attrs="dict(value = hoje_str)" value="30/01/2007" />
		</span><br />
		<input name="periodicidade" type="checkbox" value="mensal" />Repetir mensalmente até (opcional)
		<input maxlength="10" name="data_termino" size="10" type="text" /> Ex. <span py:replace="termino_str">30/05/2007</span>
	</p>
	
	<p>
		<input type="submit" value="Salvar" /> ou 
		<a href="/" class="cancel">Cancelar</a>
	</p>
</form>


</body>
</html>
