<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="master.html" />

<?python
from pronus_utils import pretty_decimal
from datetime     import date
from decimal      import Decimal

read_only         = date.today() >= fechamento.data
data_fechamento   = fechamento.data.strftime('%d/%m/%Y')
contas_telefone   = fechamento.republica.contas_telefone(fechamento.data_inicial, fechamento.data_final)
tipos_despesa     = sorted(fechamento.total_tipo_despesa.keys(), key = lambda obj: obj.nome)
num_participantes = len(fechamento.participantes) if len(fechamento.participantes) else 1
?>
<head>
    <title>Fechamento de <span py:replace="data_fechamento">Data</span></title>
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/static/css/style.css')}" />
</head>

<body>
<h1>Fechamento de 
<select name="data_fechamento">
	<option py:for="f in fechamento.republica.fechamentos" py:content="f.data.strftime('%d/%m/%Y')" value="${fechamento.data.strftime('%d-%m-%Y')}" selected="${'selected' if f.data == fechamento.data else ''}" onclick="location.href='${tg.url('/fechamento/%s' % f.data.strftime('%d-%m-%Y'))}';">dd/mm/yyyy</option>
</select>
</h1>
<p>Período Contábil: <span py:replace="fechamento.data_inicial.strftime('%d/%m/%Y')">01/01/2000</span> a <span py:replace="fechamento.data_final.strftime('%d/%m/%Y')">01/02/2000</span></p>

<h2>Resumo das Despesas</h2>
<table>
	<thead>
		<tr>
			<th>Tipo da Despesa</th>
			<th>Total</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>Total</th>
			<th py:content="pretty_decimal(fechamento.total_despesas)">999,99</th>
		</tr>
		<tr>
			<th>Nº Moradores</th>
			<th py:content="len(fechamento.participantes)">9</th>
		</tr>
		<tr>
			<th>Média</th>
			<th py:content="pretty_decimal(fechamento.total_despesas/num_participantes)">999,99</th>
		</tr>
	</tfoot>
	<tbody>
		<tr py:for="tipo in tipos_despesa">
			<td py:content="tipo.nome">Tipo da despesa</td>
			<td py:content="pretty_decimal(fechamento.total_tipo_despesa[tipo])">99,99</td>
		</tr>
	</tbody>
</table>

<h2>Rateio das Despesas</h2>
<table>
	<thead>
		<tr>
			<th>Morador</th>
			<th>Qtd Dias<br />Morados</th>
			<th>Participação<br />nas Despesas</th>
			<th>Quota</th>
			<th>Telefone</th>
			<th>Despesas</th>
			<th>Saldo Final</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>Totais</th>
			<th py:content="fechamento.total_dias"></th>
			<th py:content="'%s%%' % pretty_decimal(sum(morador.porcentagem for morador in fechamento.rateio.values()), Decimal('0.1'))"></th>
			<th py:content="pretty_decimal(sum(morador.quota for morador in fechamento.rateio.values()))"></th>
			<th py:content="pretty_decimal(fechamento.total_telefone)"></th>
			<th py:content="pretty_decimal(fechamento.total_despesas)"></th>
			<th py:content="pretty_decimal(sum(morador.saldo_final for morador in fechamento.rateio.values()))"></th>
		</tr>
	</tfoot>
	<tbody>
		<tr py:for="morador in fechamento.participantes">
			<td><span py:replace="morador.pessoa.nome">Fulano de tal</span></td>
			<td><span py:replace="fechamento.rateio[morador].qtd_dias">30</span></td>
			<td><span py:replace="'%s%%' % pretty_decimal(fechamento.rateio[morador].porcentagem, Decimal('0.1'))">30%</span></td>
			<td><span py:replace="pretty_decimal(fechamento.rateio[morador].quota)">99,99</span></td>
			<td><span py:replace="pretty_decimal(fechamento.rateio[morador].quota_telefone)">99,99</span></td>
			<td><span py:replace="pretty_decimal(fechamento.rateio[morador].total_despesas)">99,99</span></td>
			<td><span py:replace="pretty_decimal(fechamento.rateio[morador].saldo_final)">999,99</span></td>
		</tr>
	</tbody>
</table>


<h2>Acerto de Contas entre Moradores</h2>
<table>
	<thead>
		<tr>
			<th><em>pagar para -></em></th>
			<th py:for="morador in fechamento.participantes" py:content="morador.pessoa.nome">Morador</th>
			<th>Total a Pagar</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>Total a Receber</th>
			<th py:for="morador in fechamento.participantes">
				<span py:if="morador in fechamento.acerto_a_receber" py:replace="pretty_decimal(sum(fechamento.acerto_a_receber[morador].values()))">99,99</span>
			</th>
			<th></th>
		</tr>
	</tfoot>
	<tbody>
		<tr py:for="morador in fechamento.participantes">
			<td><span py:replace="morador.pessoa.nome">Fulano de tal</span></td>
			<td py:for="credor in fechamento.participantes">
				<span py:if="morador in fechamento.acerto_a_pagar and credor in fechamento.acerto_a_pagar[morador]" py:replace="pretty_decimal(fechamento.acerto_a_pagar[morador][credor])">99,99</span>
			</td>
			<td><span py:if="morador in fechamento.acerto_a_pagar" py:replace="pretty_decimal(sum(fechamento.acerto_a_pagar[morador].values()))">999,99</span></td>
		</tr>
	</tbody>
</table>

<hr />

<h2>Lista de Despesas do Período</h2>
<p py:if="not read_only"><a href="${tg.url('/despesa/insert')}">Cadastrar nova despesa</a></p>
<table>
	<thead>
		<tr>
			<th>Data</th>
			<th>Valor</th>
			<th>Tipo</th>
			<th>Responsável</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr py:for="despesa in fechamento.despesas">
			<td><span py:replace="despesa.data.strftime('%d/%m/%Y')">99/99/9999</span></td>
			<td><span py:replace="pretty_decimal(despesa.quantia)">99,99</span></td>
			<td><span py:replace="despesa.tipo.nome">Tipo da despesa</span></td>
			<td><span py:replace="despesa.responsavel.pessoa.nome">Fulano</span></td>
			<td><span py:if="not read_only"><a href="${tg.url('/despesa/update/%d' % despesa.id)}">Editar</a></span></td>
			<td><span py:if="not read_only"><a href="${tg.url('/despesa/delete/%d' % despesa.id)}">Excluir</a></span></td>
		</tr>
	</tbody>
</table>

<h2>Contas de Telefone</h2>
<p py:if="not read_only"><a href="${tg.url('/conta_telefone/insert')}">Cadastrar nova conta de telefone</a></p>
<table>
	<thead>
		<tr>
			<th>Número</th>
			<th>Data Emissão</th>
			<th>Franquia</th>
			<th>Serviços</th>
			<th>Telefonemas</th>
			<th>A Pagar</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr py:for="conta in fechamento.contas_telefone">
			<td py:content="conta.telefone">99 9999 9999</td>
			<td py:content="conta.emissao.strftime('%d/%m/%Y')">99/99/9999</td>
			<td py:content="pretty_decimal(conta.franquia)">99,99</td>
			<td py:content="pretty_decimal(conta.servicos) if conta.servicos else ''">99,99</td>
			<td py:content="pretty_decimal(conta.resumo['total_telefonemas']) if conta.resumo['total_telefonemas'] else ''">99,99</td>
			<td py:content="pretty_decimal(conta.resumo['total_conta'])">99,99</td>
			<td><span py:if="not read_only"><a href="${'/conta_telefone/update/%d' % conta.id}">Editar</a></span></td>
			<td><span py:if="not read_only"><a href="${'/conta_telefone/delete/%d' % conta.id}">Excluir</a></span></td>
		</tr>
	</tbody>
</table>


</body>
</html>
