<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="master.html" />

<?python
from pronus_utils import pretty_decimal

data_fechamento    = fechamento.data.strftime('%d/%m/%Y')
periodo_fechamento = fechamento.republica.periodo_fechamento(fechamento.data)
contas_telefone    = fechamento.republica.contas_telefone(periodo_fechamento[0], periodo_fechamento[1])
tipos_despesas_gerais      = [t for t in fechamento.despesas_tipo.keys() if not t.especifica]
tipos_despesas_especificas = [t for t in fechamento.despesas_tipo.keys() if t.especifica]
tipos_despesas_gerais.sort(key = lambda obj: obj.nome)
tipos_despesas_especificas.sort(key = lambda obj: obj.nome)
fechamento.despesas.sort(key = lambda obj:obj.data)
?>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>Fechamento de <span py:replace="data_fechamento">Data</span></title>
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/static/css/style.css')}" />
</head>

<body>
<h1>Fechamento de <span py:replace="data_fechamento">Data</span></h1>

<h2>Totais</h2>
<table>
	<tbody>
		<tr>
			<td>Total das Despesas Gerais</td>
			<td>${pretty_decimal(fechamento.total_despesas_gerais)}</td>
		</tr>
		<tr>
			<td>Total das Despesas Específicas</td>
			<td>${pretty_decimal(fechamento.total_despesas_especificas)}</td>
		</tr>
		<tr>
			<td>Total das Despesas</td>
			<td>${pretty_decimal(fechamento.total_despesas_gerais + fechamento.total_despesas_especificas)}</td>
		</tr>
	</tbody>
</table>


<h2>Rateio Final</h2>
<table>
	<thead>
		<tr>
			<th>Morador</th>
			<th>Geral</th>
			<th>Específico</th>
			<th>Saldo Final</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>Totais</th>
			<th py:content="pretty_decimal(sum(morador.saldo_final_geral for morador in fechamento.rateio.values()))"></th>
			<th py:content="pretty_decimal(sum(morador.saldo_final_especifico for morador in fechamento.rateio.values()))"></th>
			<th py:content="pretty_decimal(sum(morador.saldo_final for morador in fechamento.rateio.values()))"></th>
		</tr>
	</tfoot>
	<tbody>
		<tr py:for="morador in fechamento.moradores">
			<td><span py:replace="morador.pessoa.nome">Fulano de tal</span></td>
			<td><span py:replace="pretty_decimal(fechamento.rateio[morador].saldo_final_geral)">99,99</span></td>
			<td><span py:replace="pretty_decimal(fechamento.rateio[morador].saldo_final_especifico)">99,99</span></td>
			<td><span py:replace="pretty_decimal(fechamento.rateio[morador].saldo_final)">999,99</span></td>
		</tr>
	</tbody>
</table>


<h2>Acerto de Contas entre Moradores</h2>
<table>
	<thead>
		<tr>
			<th><em>pagar para -></em></th>
			<th py:for="morador in fechamento.participantes" py:content="morador.pessoa.nome">Morador</th>
			<th>Total a Pagar</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>Total a Receber</th>
			<th py:for="morador in fechamento.participantes">
				<span py:if="morador in fechamento.acerto_a_receber" py:replace="pretty_decimal(sum(fechamento.acerto_a_receber[morador].values()))">99,99</span>
			</th>
			<th></th>
		</tr>
	</tfoot>
	<tbody>
		<tr py:for="morador in fechamento.participantes">
			<td><span py:replace="morador.pessoa.nome">Fulano de tal</span></td>
			<td py:for="credor in fechamento.participantes">
				<span py:if="morador in fechamento.acerto_a_pagar and credor in fechamento.acerto_a_pagar[morador]" py:replace="pretty_decimal(fechamento.acerto_a_pagar[morador][credor])">99,99</span>
			</td>
			<td><span py:if="morador in fechamento.acerto_a_pagar" py:replace="pretty_decimal(sum(fechamento.acerto_a_pagar[morador].values()))">999,99</span></td>
		</tr>
	</tbody>
</table>

<hr />

<h2>Lista de Despesas do Período</h2>
<table>
	<thead>
		<tr>
			<th>Data</th>
			<th>Valor</th>
			<th>Tipo</th>
			<th>Responsável</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr py:for="despesa in fechamento.despesas">
			<td><span py:replace="despesa.data.strftime('%d/%m/%Y')">99/99/9999</span></td>
			<td><span py:replace="pretty_decimal(despesa.quantia)">99,99</span></td>
			<td><span py:replace="despesa.tipo.nome">Tipo da despesa</span></td>
			<td><span py:replace="despesa.responsavel.pessoa.nome">Fulano</span></td>
			<td><a href="${tg.url('/despesa/update/%d' % despesa.id)}">Editar</a></td>
			<td><a href="${tg.url('/despesa/delete/%d' % despesa.id)}">Apagar</a></td>
		</tr>
	</tbody>
</table>
<p><a href="${tg.url('/despesa/insert')}">Cadastrar nova despesa</a></p>

<hr />

<h2>Resumo das Despesas Gerais</h2>
<table>
	<thead>
		<tr>
			<th>Despesa</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
		<tr py:for="tipo_despesa in tipos_despesas_gerais">
			<td><span py:replace="tipo_despesa.nome">Tipo da despesa</span></td>
			<td><span py:replace="pretty_decimal(fechamento.despesas_tipo[tipo_despesa])">99,99</span></td>
		</tr>
		<tr>
			<td>Total das Despesas Gerais</td>
			<td><span py:replace="pretty_decimal(fechamento.total_despesas_gerais)">999,99</span></td>
		</tr>
	</tbody>
</table>

<h2>Resumo das Despesas Específicas</h2>
<table>
	<thead>
		<tr>
			<th>Despesa</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
		<tr py:for="tipo_despesa in tipos_despesas_especificas">
			<td><span py:replace="tipo_despesa.nome">Tipo da despesa</span></td>
			<td><span py:replace="pretty_decimal(fechamento.despesas_tipo[tipo_despesa])">99,99</span></td>
		</tr>
		<tr>
			<td>Total das Despesas Específicas</td>
			<td><span py:replace="pretty_decimal(fechamento.total_despesas_especificas)">999,99</span></td>
		</tr>
	</tbody>
</table>


<h3>Rateio das Despesas Gerais</h3>
<table>
	<thead>
		<tr>
			<th>Morador</th>
			<th>Dias</th>
			<th>Despesas</th>
			<th>Quota</th>
			<th>Saldo Final</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>Totais</th>
			<th py:content="sum(morador.qtd_dias for morador in fechamento.rateio.values())"></th>
			<th py:content="pretty_decimal(sum(morador.total_despesas_gerais for morador in fechamento.rateio.values()))"></th>
			<th py:content="pretty_decimal(sum(morador.quota_geral for morador in fechamento.rateio.values()))"></th>
			<th py:content="pretty_decimal(sum(morador.saldo_final_geral for morador in fechamento.rateio.values()))"></th>
		</tr>
	</tfoot>
	<tbody>
		<tr py:for="morador in fechamento.moradores">
			<td><span py:replace="morador.pessoa.nome">Fulano de tal</span></td>
			<td><span py:replace="fechamento.rateio[morador].qtd_dias">30</span></td>
			<td><span py:replace="pretty_decimal(fechamento.rateio[morador].total_despesas_gerais)">99,99</span></td>
			<td><span py:replace="pretty_decimal(fechamento.rateio[morador].quota_geral)">99,99</span></td>
			<td><span py:replace="pretty_decimal(fechamento.rateio[morador].saldo_final_geral)">999,99</span></td>
		</tr>
	</tbody>
</table>

<hr />

<h2>Contas de Telefone</h2>

<table>
	<thead>
		<tr>
			<th>Número</th>
			<th>Data Emissão</th>
			<th>Franquia</th>
			<th>Serviços</th>
			<th>Telefonemas</th>
			<th>A Pagar</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr py:for="conta in fechamento.contas_telefone">
			<td py:content="conta.telefone">99 9999 9999</td>
			<td py:content="conta.emissao.strftime('%d/%m/%Y')">99/99/9999</td>
			<td py:content="pretty_decimal(conta.franquia)">99,99</td>
			<td py:content="pretty_decimal(conta.servicos) if conta.servicos else ''">99,99</td>
			<td py:content="pretty_decimal(conta.resumo['total_telefonemas']) if conta.resumo['total_telefonemas'] else ''">99,99</td>
			<td py:content="pretty_decimal(conta.resumo['total_conta'])">99,99</td>
			<td><a href="${'/conta_telefone/update/%d' % conta.id}">Detalhar</a></td>
			<td><a href="${'/conta_telefone/delete/%d' % conta.id}">Excluir</a></td>
		</tr>
	</tbody>
</table>
<p><a href="${tg.url('/conta_telefone/insert')}">Cadastrar nova conta de telefone</a></p>



<h3>Rateio das Contas de Telefone</h3>
<table>
	<thead>
		<tr>
			<th>Morador</th>
			<th>Despesas</th>
			<th>Quota</th>
			<th>Saldo Final</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>Totais</th>
			<th py:content="pretty_decimal(sum(morador.total_despesas_especificas for morador in fechamento.rateio.values()))"></th>
			<th py:content="pretty_decimal(sum(morador.quota_especifica for morador in fechamento.rateio.values()))"></th>
			<th py:content="pretty_decimal(sum(morador.saldo_final_especifico for morador in fechamento.rateio.values()))"></th>
		</tr>
	</tfoot>
	<tbody>
		<tr py:for="morador in fechamento.moradores">
			<td><span py:replace="morador.pessoa.nome">Fulano de tal</span></td>
			<td><span py:replace="pretty_decimal(fechamento.rateio[morador].total_despesas_especificas)">99,99</span></td>
			<td><span py:replace="pretty_decimal(fechamento.rateio[morador].quota_especifica)">99,99</span></td>
			<td><span py:replace="pretty_decimal(fechamento.rateio[morador].saldo_final_especifico)">999,99</span></td>
		</tr>
	</tbody>
</table>


</body>
</html>
