<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="master.html" />

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>Welcome to TurboGears</title>
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/static/css/style.css')}" />
</head>

<body>
<ul>
	<li><a href="/cadastrar_despesa">Cadastrar despesa</a></li>
	<li><a href="/cadastrar_conta_telefone">Cadastrar Conta de Telefone</a></li>
	<li><a href="/fechamentos">Fechamentos</a></li>
</ul>
</body>
</html>
