<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

<py:match path="head" once="true">
<head py:attrs="select('@*')">
    <title py:with="title = list(select('title/text()'))">
        Republicaos &gt; <py:if test="title">${title}</py:if>
    </title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Pronus Engenharia de Software" />
    <meta name="robots" content="ALL" />
    <meta name="distribution" content="Global" />
    <meta name="rating" content="General" />
    <meta name="doc-class" content="Completed" />
    <meta name="description" content="Republicaos é um aplicativo web simples e amigável que irá ajudá-lo a controlar as contas da sua república!" />

    <meta name="keywords" content="organizador financeiro, software de controle financeiro, controle de gastos, controle financeiro, controle financeiro doméstico, finanças, money, quicken, investimento, planejamento financeiro, pronus engenharia de software, finanças pessoais, controle financeiro simples, gastos sob controle, como controlar gastos, cuide bem do seu dinheiro, cuide do seu futuro, controla fácil, gerenciamento financeiro, programa para controle financeiro, software controla os gastos" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link href="${h.url_for('/css/default.css')}" media="screen" rel="Stylesheet" type="text/css" title="screen" />
    <link href="${h.url_for('/css/print.css')}" media="screen, print" rel="Stylesheet" type="text/css" title="print" />

    <!--[if IE 6]><link href="/stylesheets/ie6.css" media="screen" rel="Stylesheet" type="text/css" /><![endif]-->
    <!-- !
    # Se for acesso local, usar uma versão local do jquery. Caso contrário, usar o google.
    # Evitaria demora para carregar a página em caso de testes locais
    # veja http://code.google.com/intl/pt-BR/apis/ajaxlibs/documentation/
    <script src="http://www.google.com/jsapi"></script>
    <script>
      // Load latest jQuery
      google.load("jquery", "1");
    </script>
    -->
    
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="/jquery/1.3.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('input[type=text][class="placeholder"]').focus(
                function(){
                    if($(this).val() == $(this).attr('defaultValue'))
                        $(this).val('').removeClass('_placeholder')
                }
            );
              
            $('input[type=text][class="placeholder"]').blur(
                function()
                    {
                    if($(this).val() == '')
                        $(this).val($(this).attr('defaultValue')).addClass('_placeholder');
                    }
            );
            $('input[type=text][class="placeholder"]').focus().blur();
            $("input[name='senha_placeholder']").focus(function(){
                $(this).hide();
                $("input[name='senha']").show().focus();
            });
            
            $("input[name='senha']").blur(function(){
                if ($(this).val() == '') {
                    $(this).hide();
                    var placeholder = $("input[name='senha_placeholder']")
                    $(placeholder).val($(placeholder).attr('defaultValue')).addClass('_placeholder').show();
                }
            });
            
            $(".flash_msg ul").click(function(){
                $(this).hide();
                return false;
            });
        });
    </script>

    ${select('*[local-name()!="title"]')}
</head>
</py:match>


<?python
from republicaos.lib.utils import get_flash_messages
flash_messages = get_flash_messages()
?>
<py:match path="body" once="true">
<body py:attrs="select('@*')">
    <py:match path="./header" once="true">
    <header py:attrs="select('@*')">
        <h1><a href="/" title="Republicaos > Página Inicial">Republicaos</a></h1>
        ${select('*[local-name()]')}
        <nav py:if="c.user">
            <strong><a href="${h.url_for(controller='pessoa', action='painel', id=c.user.id)}" title="editar perfil">${c.user}</a></strong>
            |
            <a href="${h.url_for(controller='root', action='ajuda', id=c.user.id)}">ajuda</a>
            |
            <a href="${h.url_for(controller='root', action='logout')}">Sair</a>
        </nav>
        <nav py:if="not c.user">
            <form id="login-form" name="login" method="post" action="${h.url_for(controller='root', action='login')}">
                <input type="text" class="placeholder" tabindex="1" name="email" size="20" value="e-mail" />
                <input type="password" name="senha" tabindex="2" size="10" style="display:none" />
                <input type="text" class="placeholder" name="senha_placeholder" tabindex="2" size="10" value="senha" />
                <a title="Esqueceu a sua senha?" href="${h.url_for(controller='pessoa', action='esqueceu_senha')}">?</a>
                <input type="submit" value="Acessar" />
            </form>
        </nav>
    </header>
    </py:match>
    
    <py:match path='./section' once="true">
    <section py:attrs="select('@*')">

        <div py:if="flash_messages" class="flash_msg">
            <ul py:for="css_class, messages in flash_messages.items()" id="${css_class}" class="${css_class}" >
                <div class="close"><img src="/images/icon-close.gif" /></div>
                <li py:for="message in messages">${message}</li>
            </ul>
        </div>
        <py:if test="c.errors">
            <div py:match="input|textarea|select" py:strip="" py:with="error = c.errors.get(str(select('@name')))">
            ${select('.')}
            <span class="error-message" id="erro_${select('@name')}" py:if="error" py:content="error"></span>
            </div>
        </py:if>
        ${select('*[local-name()]')}
    </section>
    </py:match>
    
    ${select('*[local-name()]')}

    <footer>
        <span>Desenvolvido por <a href="http://www.pronus.eng.br/">Pronus Engenharia de Software</a></span>
        <ul class="footer-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/faleconosco">Fale Conosco</a></li>
            <li><a href="/termos">Termos de Uso</a></li>
        </ul>
    </footer>

    <div class="powered_by">
        <a href="http://www.python.org" title="Feito em Python"><img src="/images/python-powered-02.png" /></a>
        <a href="http://pylonshq.com/" title="Pylons Framework"><img src="/images/pylons-powered-02.png" style="border:none" /></a>
        <!--
        <a href='http://jquery.com/' title='jQuery JavaScript Library'><img src='http://jquery.com/files/buttons/110x31_gr01.png' alt='jQuery JavaScript Library' title='jQuery JavaScript Library'/></a>
        -->
    </div>
</body>
</py:match>

</html>
